// COMPONENT [CONTAINERS] ######################################################

@if $component--containers == true {

  .container {
    max-width: 100%;
  }

  @include media-query(mobile) {

    .container {
      padding: 0 $gutter;
    }

   }

   @include media-query(tablet) {

    .container {
      padding: 0 $gutter;
    }

    }

  @include media-query(desk) {

    .container {
      width: 960px;
      margin: 0 auto
    }

   }

  @include media-query(desk-wide) {

    .container {
      width: 960px;
      margin: 0 auto
    }

   }

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
