// COMPONENT [FORMS] ###########################################################

// == INDEX ====================================================================
// ==
// == 1. FORM
// == 2. FORM VALIDATION
// ==
// == END ======================================================================

@if $component--forms == true {

  // 1. BASIC FORM ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 1.1. FORM -----------------------------------------------------------------

  .form {

    margin: 0 0 $gutter 0;

  }

  // 1.1. END ------------------------------------------------------------------

  // 1.2. FORM GROUP -----------------------------------------------------------

  .form-group {

      margin-bottom: $gutter;

    &.-inline {

      display: flex;

      justify-content: space-between;

      .form-field {

        width: 49%;

      }

    }

  }

  // 1.2. END ------------------------------------------------------------------

  // 1.3. FORM FIELD -----------------------------------------------------------

  .form-field {

    position: relative;
    width: 100%;
    margin-bottom: $gutter;

    // 1.3.1. INPUT FIELDS

    input[type="text"],
    input[type="password"],
    input[type="select"],
    input[type="tel"],
    input[type="date"],
    input[type="time"],
    input[type="email"],
    input[type="search"],
    textarea {

      display: block;
      width: 100%;
      padding: $gutter-small;
      font-size: $normal;
      outline: none;
      border: solid 1px $grayLight;

      transition: 0.3s;

      &:focus {

        transition: 0.3s;

        box-shadow: 0 0 10px $blue;
        border-color: $blue;

      }

    }

    textarea {
      height: 200px;
      display: block;
      clear: left;
      overflow: auto;
    }

    // 1.3.1. END

    // 1.3.2. LABEL

    label {

      display: block;
      width: 100%;
      margin-bottom: $gutter-small;

    }

    // 1.3.2. END

    // 1.3.3. MISC

    small {

      display: block;
      color: $grayLight;
      margin-top: $gutter-small;

    }

    // 1.3.3. END

  }

  // 1.3. END ------------------------------------------------------------------

  // 1.4. FORM CONTROLS --------------------------------------------------------

  .form-controls {

    ul {

      @include list;

      li {

        margin-bottom: $gutter-small;

      }

    }

  }

  // 1.4. END ------------------------------------------------------------------

  // 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 2. BASIC FORM ELEMENTS ++++++++++++++++++++++++++++++++++++++++++++++++++++

  .form {

    // 2.1. VALID STATE --------------------------------------------------------

    .-valid {

        @include form-validation($green);

    }

    // 2.1. END ----------------------------------------------------------------

    // 2.2. WARNING STATE ------------------------------------------------------

    .-warning {

        @include form-validation($orange);

    }

    // 2.2. END ----------------------------------------------------------------

    // 2.3. ERROR STATE --------------------------------------------------------

    .-error {

      @include form-validation($red);

    }

    // 2.3. END ----------------------------------------------------------------

  }

  // 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
