// COMPONENT [FLEXIGRID] #######################################################

// == INDEX ====================================================================
// ==
// == 1. GRID
// == 2. GRID ITEM
// == 3. GUTTERS
// == 4. DEFAULT SIZES
// == 5. RESPONSIVE SIZES
// ==
// == END ======================================================================

@if $component--flexigrid == true {

  // 1. GRID +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    .grid {

      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;

      list-style: none;
      margin: 0;
      padding: 0;

    }

  // 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 2. GRID ITEM ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    .grid-item {

        flex: 1;

    }

  // 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 3. GUTTERS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 3.1. NORMAL GUTTER

  .-gutter {

    margin-left: -$gutter;

    .grid-item {

      padding-left: $gutter;

    }

  }

  // 3.1. END

  // 3.2. LARGE GUTTER

  .-gutter__large {

    margin-left: -$gutter-medium;

    .grid__item {

      padding-left: $gutter-medium;

    }

  }

  // 3.2. END

  // 3.3. SMALL GUTTER

  .-gutter__small {

    margin-left: -$gutter-small;

    .grid__item {

      padding-left: $gutter-small;

    }

  }

  // 3.3. END

  // 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 4. DEFAULT SIZES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  @include flexigrid-size($grid-sizes);

  // 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 5. RESPONSIVE SIZES +++++++++++++++++++++++++++++++++++++++++++++++++++++++

  @each $name in $breakpoint-types {

    @include media-query($name) {

      @include flexigrid-size($grid-sizes, '#{$name}--');

    }

  }

  // 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
