// COMPONENT [BREADCRUMBS] #####################################################

@if $component--breadcrumbs == true {

  .breadcrumbs {

    @include list('row');

    margin-bottom: $gutter;

    li {

      color: $gray;

    }

    li:not(:last-child) {

      &:after {

        content: ">";
        padding-left: $gutter-small;

      }

    }

  }

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
