// COMPONENT [NAVBAR] ##########################################################

// == INDEX ====================================================================
// ==
// == 1. NAVBAR
// == 2. NAVBAR NAVIGATION
// ==
// == END ======================================================================

@if $component--nav == true {

  // 1. NAVBAR +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .navbar {

    padding: $gutter-small;
    background: $white;
    border-bottom: solid 1px $grayLight;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1, h2, h3, h4, h5 {

      margin: 0;
      padding: 0;

    }

    // 1.1. NAVBAR NAVIGATION --------------------------------------------------



    // 1.1. END ----------------------------------------------------------------

  }

  // 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 2. NAVBAR NAVIGATION ++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .navbar-nav {

    ul {
      @include list('row', 'flex-start', 'center');

      li:not(:first-child) {

        flex-shrink: 0;
        margin-left: $gutter-small;

      }

    }

    .select {

      min-width: 200px;
      margin: 0;

    }

  }

  // 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
