// COMPONENT [DATA LIST] #######################################################

@if $component--data-list == true {

  // 1. DATALIST +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .datalist {

    margin: 0 0 $gutter 0;
    padding: 0;

    li {
      list-style: none;
      border-bottom: solid 1px $grayLight;
      padding: $gutter-small 0;
      background: $white;
    }

    ul {
      display: flex;
      flex-direction: row!important;
      align-items: center;

      li {

        flex: auto;
        border-bottom: none;
        padding: 0 $gutter-small;
        color: $grayDark;

        &:not(:last-child) {

          border-right: dotted 1px $grayLight;

        }

      }

    }

  }

  // 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 2. DATALIST LABELS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .datalist-label {

    ul {
      display: flex;
      flex-direction: row!important;
      align-items: center;

      li {

        flex: auto;
        border-bottom: none;
        padding: 0 $gutter-small;
        color: $grayDark;

        &:not(:last-child) {

          border-right: dotted 1px $grayLight;

        }

      }

    }

  }

  // 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 3. DATALIST ROW +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .datalist-row {

    ul {
      display: flex;
      flex-direction: row!important;
      align-items: center;

      li {

        flex: auto;
        border-bottom: none;
        padding: 0 $gutter-small;
        color: $grayDark;

        &:not(:last-child) {

          border-right: dotted 1px $grayLight;

        }

      }

    }

  }

  // 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
