// COMPONENT [SELECT BOX] ######################################################

// == INDEX ====================================================================
// ==
// == 1. SELECT
// == 2. SELECT LABEL
// == 3. SELECT BOX
// ==
// == END ======================================================================

@if $component--select == true {

  // 1. SELECT +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .select {

    margin-bottom: $gutter;
    position: relative;

    &.-open {

      // 1.1. SELECT LABEL -----------------------------------------------------

      .select-label {

        border-color: $blue;
        box-shadow: 0 0 10px $blue;

        .icon {

          transform: rotate(90deg);
          transition: 0.3s;

        }

      }

      // 1.1. END --------------------------------------------------------------

      // 1.1. END --------------------------------------------------------------

      .select-box {
        opacity: 1;
        z-index: 999;
        height: auto;
        transform: translate3d(0,0,0);
        @include animate-basic;

      }

      // 1.1. END --------------------------------------------------------------

    }

  }

  // 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 2. SELECT LABEL +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .select-label {

    display: flex;
    justify-content: space-between;
    padding: $gutter-small $gutter;
    border: solid 1px $grayLight;
    color: $grayDark;
    background: $white;
    transition: 0.5s;
    position: relative;
    z-index: 1;

    .icon {

      transform: rotate(180deg);
      transition: 0.3s;

    }

    &:hover {

      cursor: pointer;
      background: $grayLighter;
      transition: 0.5s;

    }

  }

  // 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 3. SELECT BOX +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .select-box {

    @include list;

    flex-wrap: nowrap;

    padding: $gutter!important;
    border-left: solid 1px $blue;
    border-right: solid 1px $blue;
    border-bottom: solid 1px $blue;

    max-height: 300px;
    overflow-y: auto;

    background: $white;

    position: absolute;
    left: 0;
    right: 0;

    z-index: 0;
    height: 0px;
    transform: translate3d(0,-100%,0);
    opacity: 0;
    @include animate-basic;

    li {

      flex-shrink: 0;
      border-bottom: solid 1px $grayLight;
      padding: $gutter-small 0!important;
      @include animate-basic;

      &:hover {

        cursor: pointer;
        border-color: $blue;
        color: $blue;
        @include animate-basic;

      }

    }


  }

  // 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
