// COMPONENT [BLOCK] ###########################################################

// == INDEX ====================================================================
// ==
// == 1. BLOCK
// == 1. BLOCK VARIATIONS
// ==
// == END ======================================================================

@if $component--blocks == true {

// 1. BLOCK ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. BLOCK ------------------------------------------------------------------

.block {

  margin-bottom: $gutter;

  h3 {

    margin: 0;
    font-weight: $regular;

  }

  p {

      color: $grayDark;

  }

}

// 1.1. END --------------------------------------------------------------------

// 1.2. BLOCK HEADER -----------------------------------------------------------

.block-header {

  background: $grayLighter;
  padding: $gutter-small;

}

// 1.2. END --------------------------------------------------------------------

// 1.3. BLOCK CONTENT ----------------------------------------------------------

.block-content {

  border: solid 2px $grayLighter;
  padding: $gutter-small;

}

// 1.3. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. BLOCK VARIATIONS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.block {

  &.-info {

    @include block($blue);

  }

  &.-warning {

    @include block($orange);

  }

  &.-error {

    @include block($red);

  }

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
