// COMPONENT [HELPERS] #########################################################

// == INDEX ====================================================================
// ==
// == 1. DISABLE SCROLL
// == 2. FONT SIZES
// ==
// == END ======================================================================

@if $component--helpers == true {

  // 1. DISABLE SCROLL +++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .disable-scroll {

    overflow: hidden!important;

  }

  // 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 2. FONT SIZES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .-s-small {
    font-size: $small;
  }
  .-s-normal {
    font-size: $normal;
  }
  .-s-medium {
    font-size: $medium;
  }
  .-s-large {
    font-size: $large;
  }
  .-s-xlarge {
    font-size: $x-large;
  }

  // 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
