// COMPONENT [MESSAGES] ########################################################

// == INDEX ====================================================================
// ==
// == 1. STANDARD MESSAGE
// ==
// == END ======================================================================

@if $component--messages == true {

  // 1. STANDARD MESSAGE +++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .message {

    display: block;

    padding: $gutter / 2;
    margin-bottom: $gutter;

    h4, p {
        margin: 0;
    }

    // 1.1. INFORMATION MESSAGE ------------------------------------------------

    &.info {

      background: lighten($blue, 25% );

      h4, p {
          color: darken($blue, 10%);
      }

    }

    // 1.1. END ----------------------------------------------------------------

    // 1.3. ERROR MESSAGE ------------------------------------------------------

    &.success {

      background: lighten($green, 25% );

      h4, p {
          color: darken($green, 10%);
      }

    }

    // 1.3. END ----------------------------------------------------------------

    // 1.1. WARNING MESSAGE ----------------------------------------------------

    &.warning {

      background: lighten($orange, 25% );

      h4, p {
          color: darken($orange, 10%);
      }

    }

    // 1.1. END ----------------------------------------------------------------

    // 1.3. ERROR MESSAGE ------------------------------------------------------

    &.error {

      background: lighten($red, 25% );

      h4, p {
          color: darken($red, 10%);
      }

    }

    // 1.3. END ----------------------------------------------------------------

  }

  // 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
