// COMPONENT [MODALS] ##########################################################

// == INDEX ====================================================================
// ==
// == 1. STANDARD MESSAGE
// ==
// == END ======================================================================

@if $component--modals == true {

  // A. DEFAULT SETUP ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // A.1. THE MODAL ------------------------------------------------------------

  .modal {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba($grayDark, 0.85);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;

    transform: translate3d(0,-100%,0);
    opacity: 0;
    @include animate-basic;

    &.-open {

      transform: translate3d(0,0,0);
      opacity: 1;
      @include animate-basic;

    }

  }

  // A.1. END ------------------------------------------------------------------

  // A.2. MODAL BODY -----------------------------------------------------------

  // A.2.1. GENERAL

  .modal-body {

    background: $white;

    width: 50%;
    height: 50%;

    padding: $gutter;

    overflow: auto;

    // A.2.1. OVERSIZE

    &.oversize {}

    // A.2.1. END

    // A.2.2. SMALL

    &.small {}

    // A.2.2. END

  }

  // A.2.1. END

  // A.2.2. HEADER

  .modal-body__header {

    border-bottom: dashed 1px $grayLight;

    margin-bottom: $gutter;
    padding-bottom: $gutter;

    h3 {

        margin: 0;

    }

    p {

      margin: $gutter 0;

    }

  }

  // A.2.2. END

  // A.2.3. CONTENT

  .modal-body__content {}

  // A.2.3. END

  // A.2.4. FOOTER

  .modal-body__footer {}

  // A.2.4. END

  // A.2. END ------------------------------------------------------------------

  // A.3. CLOSE BUTTON ---------------------------------------------------------

  .modal-close {

    color: $gray;

    font-size: $x-large;

    position: absolute;
    top: $gutter-medium;
    right: $gutter-medium;

  }

  // A.3. END ------------------------------------------------------------------

  // A. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
