// COMPONENT [TABS] ############################################################

// == INDEX ====================================================================
// ==
// == 1. TABS
// ==
// == END ======================================================================

@if $component--tabs == true {

  // 1. TABS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .tabs {

    @include list('horizontal');

    li {

      margin-right: 2px;

    }

    a {

      display: block;
      border-top: solid 2px $grayLight;
      border-left: solid 2px $grayLight;
      border-right: solid 2px $grayLight;
      padding: $gutter-small $gutter;
      color: $gray;

      @include animate-basic;

      &:hover {

        border-color: $grayDarker;
        color: $grayDarker;

        @include animate-basic;

      }

      &.active {

        border-color: $blue;
        background: $grayDark;
        color: $blue;

        @include animate-basic;

      }
    }

  }

  // 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}


// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
