// COMPONENT [TYPOGRAPHY] ######################################################

@if $component--typography == true {

  // 1. RESPONSIVE TEXT ++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  body {
    font-size: 75%; // For the feature phone.
  }

  @include media-query(mobile) {

    body {
      font-size: 87.5%;
    }

   }

   @include media-query(tablet) {

    body {
      font-size: 100%;
    }

    }


  @include media-query(desk) {

    body {
      font-size: 100%;
    }

   }

  @include media-query(desk-wide) {

    body {
      font-size: 100%;
    }

   }

  // 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 2. TEXT +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 2.1. HEADINGS -------------------------------------------------------------

  h1, h2, h3, h4, h5, h6 {
    font-weight: $bold
  }

  h1 {
    font-size: $x-large;
    margin-bottom: $gutter * 2;

  }
  h2 {
    font-size: $large;
    margin-bottom: $gutter;
  }
  h3 {
    font-size: $medium;
    margin-top: $gutter;
    margin-bottom: 0;
  }
  h4 {
    font-size:  $normal;
    margin-bottom: $gutter;
  }
  h5 {
    font-size: $small;
    margin-bottom: $gutter;
  }
  h6 {
    font-size: $x-small;
  }

  // 2.1. END ------------------------------------------------------------------

  // 2.2. BODY COPY ------------------------------------------------------------

  // 2.2.1. PARAGRAPH

  p {
    margin: 0 0 $gutter 0;
    color: $grayDark;

    &:last-child {

      margin: 0;

    }

  }

  // 2.2.1. END

  // 2.2.2. EMPHASIS

  strong,
  b {
    font-weight: bold;
  }
  em {
  }

  // 2.2.2. END

  // 2.2.3. CODE BLOCKS

  code,
  pre {

  }
  code {
      margin: 0;
      background: $grayDarker;

      color: $grayLighter;
  }
  code:after {
  }
  pre {
      margin: 0 0 $gutter 0;
      display: block;

      code {

          display: block;
          padding: $gutter;

      }
  }

  // 2.2.3. END

  // 2.2.4. LINKS

  a {

    text-decoration: none;

    &:hover {

      text-decoration: none;

    }

  }

  // 2.2.4. END

  // 2.2.5. HORIZONTAL RULE

  hr {
    margin: $gutter - 1 0;
    border: 0;
    border-bottom: 1px solid $gray;
    line-height: $gutter;
  }

  // 2.2.5. END


  // 2.2. END ------------------------------------------------------------------

  // 2.3. LISTS ----------------------------------------------------------------

  // 2.3.1. THE ORDINARY LIST

  ol,ul {

    margin: 0 0 $gutter 0;
    padding-left: $gutter;

    ol,ul {
      margin: 0 ;
      padding-left: $gutter;
    }

    li {
      line-height: $gutter;
      margin: 0;
      padding: 0;
    }

  }

  // 2.3.1. END

  // 2.3.2. DEFINITION LIST

  dl {

    line-height: $gutter;
    margin: 0 0 $gutter 0;

    dt {

      font-weight: bold;

    }

    dd {

      margin: 0 0 0 $gutter;

    }

  }

  // 2.3.2. END

  // 2.1. END ------------------------------------------------------------------

  // 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 3. TABLE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  table {

    width: 100%;
    margin: 2px 0 $gutter 0;
    padding: 0;
    //border: solid 1px $gray;

    tr {
        line-height: $gutter;
        height: auto;

    }

    td,th {
        line-height: $gutter;
        margin:0;
        padding: $gutter/2;
        border-bottom: solid 1px $grayLighter;
    }

    th {
        font-weight: bold;
        text-align: left;
        border-bottom: solid 2px $grayLight;
    }

    thead {
        line-height: $gutter;
    }

    tbody {
        line-height: $gutter;
    }

  }

  // 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 4. IMAGE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  img {
    display: block;
  }

  // 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
