// COMPONENT [FLAGS] ###########################################################

// == INDEX ====================================================================
// ==
// == 1. TABS
// ==
// == END ======================================================================

@if $component--flags == true {

  .flag {

    font-size: $small;
    background: $gray;
    padding: 5px $gutter-small;

  }

}


// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
