// COMPONENT [MEDIA] ###########################################################

// == INDEX ====================================================================
// ==
// == 1. MEDIA
// == 2. MEDIA IMG
// == 3. MEDIA CONTENT
// ==
// == END ======================================================================

@if $component--media == true {

  // 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .media {

    display: flex;
    flex-flow: row nowrap;

  }

  // 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .media-img {

    margin: 0 $gutter-small 0 0;

  }

  // 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .media-content {



  }

  // 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
