// COMPONENT [BUTTONS] #########################################################

// == INDEX ====================================================================
// ==
// == 1. FLAT BUTTON
// == 2. PILL
// == 3. LINE BUTTONS
// == 4. BUTTON VARIATIONS
// ==
// == END ======================================================================

@if $component--buttons == true {

  // 1. FLAT BUTTONS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .btn {

      @include button($button-map, flat);

  }

  // 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 2. PILL BUTTONS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .btn-pill {

    @include button($button-map, pill);

  }

  // 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 3. OUTLINE BUTTONS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .btn-line {

    @include button($button-map, line);

  }

  // 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 4. BUTTON VARIATIONS ++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // 4.1. SIZES ----------------------------------------------------------------

  .-small {

    font-size: $small;

  }

  .-large {

    font-size: $medium;
    padding: $gutter;

  }

  // 4.1. END ------------------------------------------------------------------

  // 4.2. PRESS EFFECT ---------------------------------------------------------

  .-feedback {

    &:active {

      @include animate-basic;
      transform: scale(0.98);

    }

  }

  // 4.2. END ------------------------------------------------------------------

  // 4.3. MISC -----------------------------------------------------------------

  .-inline {

    display: inline-block;
    width: auto;

  }

  // 4.3. END ------------------------------------------------------------------

  // 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
