//--------------------------------------------------------------
//	BASE STYLES
//--------------------------------------------------------------
.gform_wrapper.arrange-a-meeting_wrapper { // the entire form
  width: 80%;
  margin: 0 auto;

  // Single and two-column fields
  &.gform_body .gform_fields .gfield,
  &.gform_body .gform_fields .gfield.gf_left_half,
  &.gform_body .gform_fields .gfield.gf_right_half {
    //margin-bottom: $gf-field-margin-bottom; // space between input and label below
  }
  // &.gform_body .gform_fields .gfield, &.gform_body .gform_fields .gfield.gf_left_half, &.gform_body .gform_fields .gfield.gf_right_half

  // Labels
  .gfield_label {
    font-family: Verdana;
    font-weight: normal;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;

    // Require field Indicator (Asterisk)
    .gfield_required {
      color: #ff0000;
      font-family: verdana;
      font-size: 13px;
      padding: 0 5px 0 5px;
    }
    // .gfield_required
  }
  // .gfield_label

  .top_label div.ginput_container {
    margin-top: 0;
  }

  // Standard fields
  input[type='text'],
  input[type='url'],
  input[type='email'],
  input[type='tel'],
  input[type='number'],
  input[type='password'],
  input[type='file'],
  textarea {
    background: white;
    border: 1px solid white;
    color: #333;
  }
  // input[type="text"], input[type="url"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="file"], textarea

  textarea {
    width: 100%;
  }
  // textarea

  //--------------------------------------------------------------
  // 	FORM FOOTER
  //--------------------------------------------------------------
  .gform_footer {

    input.button,
    input[type='submit'] {
      background: #04B2CB;
      padding: 10px 20px;
      color: #fff !important;
      border: none;
      clear: both;
      font-family: Verdana;
      font-size: 13px;
      text-transform: uppercase;
    }
    // input.button, input[type="submit"]
  }
  // .gform_wrapper .gform_footer

}

// .gform_wrapper

//--------------------------------------------------------------
// 	FORM HEADER
//--------------------------------------------------------------
.gform_wrapper .gform_heading {
  // .gform_title - form title
  // .gform_description - form description
}

// .gform_wrapper .gform_heading

//--------------------------------------------------------------
//	CONFIRMATION MESSAGE (SUCCESSFUL AJAX SUBMISSION)
//--------------------------------------------------------------
.gforms_confirmation_message { // container element
  // .gform_confirmation_wrapper - the message wrapper
  // .gform_confirmation_message - message div
}

// .gforms_confirmation_message

//--------------------------------------------------------------
//	SELECTS
//--------------------------------------------------------------
.gform_wrapper .gform_body .gform_fields .gfield select,
.gform_wrapper.gf_browser_chrome .gform_body .gform_fields .gfield select {
  margin-left: 0;
  width: 100% !important; // overrides GF !important
}

// .gform_wrapper .gform_body .gform_fields .gfield select, .gform_wrapper.gf_browser_chrome .gform_body .gform_fields .gfield select

//--------------------------------------------------------------
//	CONTENT OVERRIDES
//--------------------------------------------------------------
#content .gform_wrapper {
  margin-right: 0; // allow for full width of containing element
  max-width: 100%; // allow for full width of containing element

  // Standard fields
  input[type='text'],
  input[type='url'],
  input[type='email'],
  input[type='tel'],
  input[type='number'],
  input[type='password'],
  input[type='file'],
  textarea {
    padding: 10px;
    width: 100%;
  }
  // input[type="text"], input[type="url"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="file"], textarea

  .chosen-search input[type='text'],
  textarea {
    width: 100%;
  }
  // .chosen-search input[type="text"], textarea

  // Validation error message (displays at top of form)
  .validation_error {

  }
  // .validation_error

  // Error labels (required fields)
  .gfield_error {
    // .gfield_label - error label
    // .validation_message - required error text
  }
  // .gfield_error

  // Two-column fields
  .gf_left_half,
  .gf_right_half {
    width: 100%;

    // Inputs
    input[type='text'],
    input[type='url'],
    input[type='email'],
    input[type='tel'],
    input[type='number'],
    input[type='password'],
    input[type='file'] {

    }
    // input[type="text"], input[type="url"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="file"]

  }
  // .gf_left_half, .gf_right_half

  // Target just left column on two-column row
  .gf_left_half {

  }
  // .gf_left_half

  // Advanced fields
  // https://www.gravityhelp.com/documentation/article/css-targeting-examples/#advanced-fields
  .ginput_complex {

    .name_first input[type='text'],
    .name_last input[type='text'] {
      width: 100%;
    }
    // .name_first input[type="text"], .name_last input[type="text"]
  }
  // .ginput_complex
}

// #content .gform_wrapper

.m-signup-form {
  margin-top: 0;

  .gform_wrapper {
    margin: 0;

    .top_label {
      div.ginput_container {
        margin-top: 0;
      }

      .gfield_label {
        display: none;
      }
    }

    ul.gform_fields li.gfield {
      padding: 0;
    }

    ul li.gfield {
      margin: 0;
    }

    // Standard fields
    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
      padding: 10px;
      background: white;
      border: 1px solid white;
      color: #333;
    }
    // input[type="text"], input[type="url"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="file"], textarea

    .gform_footer {
      padding: 0;
      margin: 0;

      input.button,
      input[type='submit'] {
        background: #000;
        color: #fff !important;
        border: none;
        clear: both;
        font-family: Verdana;
        font-size: 13px;
        padding: 12px;
        text-transform: uppercase;
      }
      // input.button, input[type="submit"]
    }
    // .gform_wrapper .gform_footer
  }
}
