.gform_wrapper.arrange-a-meeting_wrapper {
  width: 80%;
  margin: 0 auto; }
  .gform_wrapper.arrange-a-meeting_wrapper .gfield_label {
    font-family: Verdana;
    font-weight: normal;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase; }
    .gform_wrapper.arrange-a-meeting_wrapper .gfield_label .gfield_required {
      color: #ff0000;
      font-family: verdana;
      font-size: 13px;
      padding: 0 5px 0 5px; }
  .gform_wrapper.arrange-a-meeting_wrapper .top_label div.ginput_container {
    margin-top: 0; }
  .gform_wrapper.arrange-a-meeting_wrapper input[type='text'],
  .gform_wrapper.arrange-a-meeting_wrapper input[type='url'],
  .gform_wrapper.arrange-a-meeting_wrapper input[type='email'],
  .gform_wrapper.arrange-a-meeting_wrapper input[type='tel'],
  .gform_wrapper.arrange-a-meeting_wrapper input[type='number'],
  .gform_wrapper.arrange-a-meeting_wrapper input[type='password'],
  .gform_wrapper.arrange-a-meeting_wrapper input[type='file'],
  .gform_wrapper.arrange-a-meeting_wrapper textarea {
    background: white;
    border: 1px solid white;
    color: #333; }
  .gform_wrapper.arrange-a-meeting_wrapper textarea {
    width: 100%; }
  .gform_wrapper.arrange-a-meeting_wrapper .gform_footer input.button,
  .gform_wrapper.arrange-a-meeting_wrapper .gform_footer input[type='submit'] {
    background: #04B2CB;
    padding: 10px 20px;
    color: #fff !important;
    border: none;
    clear: both;
    font-family: Verdana;
    font-size: 13px;
    text-transform: uppercase; }

.gform_wrapper .gform_body .gform_fields .gfield select,
.gform_wrapper.gf_browser_chrome .gform_body .gform_fields .gfield select {
  margin-left: 0;
  width: 100% !important; }

#content .gform_wrapper {
  margin-right: 0;
  max-width: 100%; }
  #content .gform_wrapper input[type='text'],
  #content .gform_wrapper input[type='url'],
  #content .gform_wrapper input[type='email'],
  #content .gform_wrapper input[type='tel'],
  #content .gform_wrapper input[type='number'],
  #content .gform_wrapper input[type='password'],
  #content .gform_wrapper input[type='file'],
  #content .gform_wrapper textarea {
    padding: 10px;
    width: 100%; }
  #content .gform_wrapper .chosen-search input[type='text'],
  #content .gform_wrapper textarea {
    width: 100%; }
  #content .gform_wrapper .gf_left_half,
  #content .gform_wrapper .gf_right_half {
    width: 100%; }
  #content .gform_wrapper .ginput_complex .name_first input[type='text'],
  #content .gform_wrapper .ginput_complex .name_last input[type='text'] {
    width: 100%; }

.m-signup-form {
  margin-top: 0; }
  .m-signup-form .gform_wrapper {
    margin: 0; }
    .m-signup-form .gform_wrapper .top_label div.ginput_container {
      margin-top: 0; }
    .m-signup-form .gform_wrapper .top_label .gfield_label {
      display: none; }
    .m-signup-form .gform_wrapper ul.gform_fields li.gfield {
      padding: 0; }
    .m-signup-form .gform_wrapper ul li.gfield {
      margin: 0; }
    .m-signup-form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
      padding: 10px;
      background: white;
      border: 1px solid white;
      color: #333; }
    .m-signup-form .gform_wrapper .gform_footer {
      padding: 0;
      margin: 0; }
      .m-signup-form .gform_wrapper .gform_footer input.button,
      .m-signup-form .gform_wrapper .gform_footer input[type='submit'] {
        background: #000;
        color: #fff !important;
        border: none;
        clear: both;
        font-family: Verdana;
        font-size: 13px;
        padding: 12px;
        text-transform: uppercase; }
