// SITE [1: VARIABLES] #########################################################

// == INDEX ====================================================================
// ==
// == 1. SITE COLORS
// == 2. FONT STACKS
// ==
// == END ======================================================================

// 1. SITE COLORS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$wimt-black: #231F20;
$wimt-grayDarker: #343838;
$wimt-grayDark: #414141;
$wimt-gray: #808080;
$wimt-grayMid: #C9C9C9;
$wimt-grayLight: #EAEAEB;

$wimt-yellow: #ECC335;
$wimt-yellowDark: #E0B735;
//$wimt-blue: #04ABC3;
$wimt-blue: #04B2CB;
$wimt-blueMid: #3592A2;
$wimt-blueDark: #03808D;
$wimt-blueLight: #68ABB6;

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. FONT STACKS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$raleway: 'Raleway';
$open-sans: 'Open Sans';
$bitter: 'Bitter';

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. COLOR MAPS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$wimt-buttons: (
  blue: ( $wimt-blue, $white, $wimt-blueDark, $white ),
  green: ( $green, $white, darken($green, 15%), $white ),
  yellow: ( $wimt-yellow, $wimt-grayDarker, darken($wimt-yellowDark, 15%), $wimt-grayDarker ),
  orange: ( $orange, $white,darken($orange, 15%), $white ),
  red: ( $red, $white, darken($red, 15%), $white ),
  black: ( $grayDark, $white, darken($grayDark, 15%), $white ),
  white: ( $white, $gray, darken($white, 15%), $gray )
);

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
