// SITE [2: MIXINS] ############################################################

// == INDEX ====================================================================
// ==
// == 1. SET GRID
// ==
// == END ======================================================================

// 1. SET GRID +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin set-grid($mobile, $tablet, $desktop, $desktop-wide) {

    flex: none;

    @include media-query(mobile) {

        width: #{map-get($grid-sizes, $mobile)};

    }

    @include media-query(tablet) {

        width: #{map-get($grid-sizes, $tablet)};

    }

    @include media-query(desk) {

        width: #{map-get($grid-sizes, $desktop)};

    }

    @include media-query(desk-wide) {

        width: #{map-get($grid-sizes, $desktop-wide)};

    }

}

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. THEMES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin theme-light {

  color: $white;

  a {
    color: $white;
    &:hover {
      color: $wimt-blue;
    }
  }

  h1,h2,h3,h4,h5,p {
    color: $white;
  }

}

@mixin theme-dark {

  color: $wimt-grayDark;

  a {
    color: $wimt-grayDark;
    &:hover {
      color: $wimt-blue;
    }
  }

  h1,h2,h3,h4,h5,p {
    color: $wimt-grayDark;
  }

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
