// SITE [3: ANIMATIONS] ########################################################

// == INDEX ====================================================================
// ==
// == 1. POPUP ANIMATION
// ==
// == END ======================================================================

// 1. POPUP ANIMATION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@keyframes nav_popup {
  0% {
    transform: translate3d(-50%,-200%,0);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate3d(-50%,0,0);
    opacity: 1;
  }
}

@mixin animate-home($timing:'0.3', $delay:'0') {

  transition: all #{$timing}s #{$delay}s ease;

}

@keyframes bouncer {
  0% {
    transform: translate3d(-50%,0,0);
  }
  50% {
    transform: translate3d(-50%,10%,0);
  }
  100% {
    transform: translate3d(-50%,0,0);
  }
}

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. HOMEPAGE ANIMATIONS ++++++++++++++++++++++++++++++++++++++++++++++++++++++

.home {



}

.slide-dark {

  h3 {
    opacity: 0;
    @include animate-home;
  }

  &.active {

    h3 {
      opacity: 1;
      @include animate-home(0.5, 0.5);
    }

  }

  @include media-query(mobile) {

    h3 {
      opacity: 1;
      @include animate-home;
    }

  }

  @include media-query(tablet) {

    h3 {
      opacity: 1;
      @include animate-home;
    }

  }

}

.slide-grid {

  p {
    opacity: 0;
    transform: translate3d(-100%,0,0);
    @include animate-home;
  }

  iframe {
    opacity:0;
    transform: scale(0);
    @include animate-home;
  }

  &.active {
    p {
      opacity: 1;
      transform: translate3d(0,0,0);
      @include animate-home(0.5, 0.5);
    }

    iframe {
      opacity:1;
      transform: scale(1);
      @include animate-home(0.5, 0.5);
    }

  }

  @include media-query(mobile) {

    p {
      opacity: 1;
      transform: translate3d(0%,0,0);
      @include animate-home;
    }

    iframe {
      opacity:1;
      transform: scale(1);
      @include animate-home;
    }

  }

  @include media-query(tablet) {

    p {
      opacity: 1;
      transform: translate3d(0%,0,0);
      @include animate-home;
    }

    iframe {
      opacity:1;
      transform: scale(1);
      @include animate-home;
    }

  }

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@keyframes move_line {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}



.m-layout--animated {

  ul {

    position: relative;

    &:before {
      content: '';
      height: 4px;
      background: $wimt-grayLight;
      position: absolute;
      top: 10px;
      left: -12%;
      right: -12%;

      transform: translateX(-100%);

      //animation: move_line 19s;

    }

    li {

      position: relative;


      &.active {

        &:before {
          content: '';
          height: 5px;
          background: $wimt-grayLight;
          position: absolute;
          top: 10px;
          left: -896%;
          width: 900%;

          //transform: translateX(-100%);

          //animation: move_line 19s;

        }

        .c-list-content {


          h4 {
            margin-bottom: $gutter-medium;
            border-color: $wimt-yellow;
            @include animate-basic;
          }

          p {
            color: $wimt-grayDark;
          }

        }

      }

      .c-list-content {

        position: relative;
        z-index: 700;

        h4 {
          margin-bottom: $gutter-medium;
          border-radius: 100%;
          border: solid 5px $white;
          display: inline-block;
          text-align: center;
          padding-top: 0;
          padding-right: 6px;
          padding-bottom: 2px;
          padding-left: 6px;
          @include animate-basic;
          background: $white;

        }

        p {
          color: $wimt-grayMid;
        }

      }

    }

  }


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
