// SITE [4.8: TV] ##############################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.c-founders {

  padding-bottom: 0;

  text-align: center;

  h4 {
    font-weight: $regular;
    font-size: $medium;
  }
  em {
    display: block;
    margin-bottom: $gutter-small;
  }

  ul {

    @include list(row);

    justify-content: center;
    margin-left: -$gutter;

    li {

      flex: none;
      text-align: center;
      @include set-grid('one-whole','one-third','one-third','one-third');

      padding-left: $gutter;


    }

  }

  img {

    max-width: 250px;
    max-height: 250px;
    border-radius: 100%;
    margin: 0 auto $gutter auto;
  }

  span {
    display: block;
    margin-bottom: $gutter-small;
  }

  a {
    color: $wimt-blue;
    background: url('../images/icons/icon--linkedin.svg') no-repeat center right;
    padding-right: $gutter+$gutter-small;
  }

}

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  .c-founders {

    ul {

      @include list;

      li {

        margin-bottom: $gutter;

      }

    }

    img {

      width: 150px;
      height: 150px;
      border-radius: 100%;
      margin: 0 auto $gutter auto;
    }

    span {
      display: block;
      margin-bottom: $gutter-small;
    }

    a {
      color: $wimt-blue;
      background: url('../images/icons/icon--linkedin.svg') no-repeat center right;
      padding-right: $gutter+$gutter-small;
    }

  }

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  .c-founders {

    padding-bottom: 0;

    text-align: center;

    h4 {
      font-weight: $regular;
      font-size: $medium;
    }
    em {
      display: block;
      margin-bottom: $gutter-small;
    }

    ul {

      @include list(row);

      justify-content: center;
      margin-left: -$gutter;

      li {

        flex: none;
        text-align: center;
        @include set-grid('one-whole','one-third','one-third','one-third');

        padding-left: $gutter;


      }

    }

    img {

      max-width: 150px;
      max-height: 150px;
      border-radius: 100%;
      margin: 0 auto $gutter auto;
    }


  }


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
