// SITE [4.8: TV] ##############################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. SECTION ----------------------------------------------------------------

.c-gallery {

  text-align: center;
  //margin-top: -100px;

  position: absolute;
  transform: scale(0);
  @include animate-basic('0.3');

  &.is-open {

    position: relative;
    transform: scale(1);
    @include animate-basic('0.3');

  }

  h2 {
    background: $wimt-blue;
    color: $white;
    margin: 0;
  }

  .grid-item {

    @include set-grid('one-whole','one-half','one-half','one-half');

    &.hiring {
      @include set-grid('one-whole','one-whole','one-whole','one-whole');
      background: $wimt-yellowDark;
      padding: $gutter;
      font-size: $medium;
      a {
        font-weight: $regular;
        color: $white;
      }
    }

    ul {
      li {

        @include set-grid('one-half','one-half','one-half','one-half');

        &.pull-right {

        }

      }

    }

    position: relative;

    div {
      position: absolute;
      bottom: $gutter;
      left: $gutter;
      text-align: left!important;

      span {font-weight: $bold;}

      span, em {
        color: $white;
        text-transform: uppercase;
        display: block;
        text-align: left!important;
      }

      em {
        text-transform: capitalize;
      }

    }

    img {
      width: 100%;
    }

  }


}

// 1.1. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
