// SITE [4.8: TV] ##############################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. SECTION ----------------------------------------------------------------

.c-award {

  background: $wimt-grayLight;

}

.c-linked-body {

  overflow: hidden;

}

// 1.1. END --------------------------------------------------------------------

// 1.2. END --------------------------------------------------------------------

.c-award-item {

  margin: 0 $gutter-medium;
  width: 200px;
  display: flex;
  flex-flow: column nowrap;;
  justify-content: center;
  align-items: center;
  opacity: 0.5;

  &.slick-current {
    opacity: 1;
  }

}

// 1.2. END --------------------------------------------------------------------

// 1.3. END --------------------------------------------------------------------

.c-award-date {

  background: url('../images/icons/icon--wreath.svg') no-repeat;

  margin: 0 auto;

  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: $medium;
    font-weight: $regular;
    display: block;
    margin-top: -$gutter;
  }

}

// 1.3. END --------------------------------------------------------------------

// 1.4. END --------------------------------------------------------------------

.c-award-title {

  font-size: $medium;
  font-weight: $regular;
  margin-bottom: $gutter-small;

}

// 1.4. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
