// SITE [4.8: TV] ##############################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.c-flash {

  position:absolute;
  bottom: 0;
  left: 10%;
  right: 10%;

  background: #E45B28;
  border-bottom: solid 10px darken(#E45B28, 10%);
  padding: $gutter 10%;

  &:before {
    content: '';
    width: 40px;
    height: 40px;
    background: $white;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

  ul {
    @include list(row);
    justify-content: center;
    align-items: center;
    li {
      flex: none;
      color: $white;
      padding: $gutter-small $gutter;
      text-align: left;

      a {
        font-weight: $bold;
        color: $wimt-grayDarker;
      }

      &:nth-child(1) {

        span {
          display: inline-block;
          background: $white;
          color: #E45B28;
          padding: $gutter-small;
        }
      }
      &:nth-child(2) {
        width: 50%;
      }
    }
  }

}

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  .c-flash {

    position:relative;
    bottom: 0;

    left: 0;
    right: 0;
    //border-bottom: solid 10px darken(#E45B28, 10%);
    padding: $gutter-medium $gutter $gutter $gutter;
    margin: 0 $gutter;

    ul {
      @include list;
      justify-content: center;
      li {
        flex: none;
        color: $white;
        padding: $gutter-small $gutter ;
        text-align: center;

        a {
          font-weight: $regular;
          color: $wimt-grayDarker;
        }

        &:nth-child(1) {
          span {
            margin: 0 auto;
          }
        }
        &:nth-child(2) {
          width: 100%;
        }
      }
    }

  }


}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
