// SITE [4.8: TV] ##############################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. SECTION ----------------------------------------------------------------



.modal {

  background: rgba($wimt-black, 0.85);

  iframe {
    width: 100%;
    max-height: 520px;
    overflow: hidden;
    border: none;
    margin: 0;

    &.form-modal {
      width: 85%;
      margin: 0 auto;
    }

  }

}

// 1.1. END --------------------------------------------------------------------

// 1.1. SECTION ----------------------------------------------------------------

.modal-body {

  background: $wimt-grayLight;
  text-align: center;

  max-width: 100%;
  width: 30%;
  min-width: 640px;
  height: 80%;

  .modal-closer {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 auto $gutter auto;
    background: url('../images/icons/icon--close.svg') no-repeat;

  }

}

// 1.1. END --------------------------------------------------------------------


// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  .modal-body {

    max-width: 90%;
    width: 85%;
    height: 95%;
    min-width: 85%;

    .modal-closer {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 auto $gutter auto;
      background: url('../images/icons/icon--close.svg') no-repeat;

    }

    iframe {
      max-width: 100%!important;
      width: 100%;
      max-height: 520px;
      overflow: hidden;
      border: none;
      margin: 0;

      &.form-modal {
        width: 85%;
        height: 650px;
        margin: 0 auto;
      }

    }

  }

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  // 1.1. SECTION --------------------------------------------------------------

  .modal-body {

    max-width: 100%;
    width: 70%;
    min-width: 70%;

    iframe {

      &.form-modal {
        width: 100%;
        height: 650px;
        margin: 0 auto;
      }

    }

  }

  // 1.1. END ------------------------------------------------------------------


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

  // 1.1. SECTION --------------------------------------------------------------

  .modal-body {

    max-width: 100%;
    width: 50%;

  }

  // 1.1. END ------------------------------------------------------------------

}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

  // 1.1. SECTION --------------------------------------------------------------

  .modal-body {

    max-width: 100%;
    width: 30%;

  }

  // 1.1. END ------------------------------------------------------------------

}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
