// SITE [4.10: BLOCK - TEXT] ###################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. SECTION ----------------------------------------------------------------

.c-text {

  text-align: center;

  p {
    font-weight: $regular;
  }

  // 1.1. UL

  ul {

    @include list('row')
    justify-content: center;
    align-items: center;

    li {

      flex: none;

      &:not(:last-child) {

        margin-right: $gutter-medium;

      }

      img {
        margin: 0 auto;
      }

    }

  }

  // 1.1. END

  // 1.2. TEXT

  h3 {

    margin-bottom: $gutter-medium;

  }

  // 1.2. END

}

// 1.1. END --------------------------------------------------------------------

// 1.2. THEMES -----------------------------------------------------------------

.c-text {

  // 1.2.1. GRAY

  &.-gray {

    background: $wimt-grayLight;

  }

  // 1.2.1. END

  // 1.2.2. GRAY

  &.-gold {

    background: $wimt-yellowDark;

  }

  // 1.2.2. END

}

// 1.2. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  .c-text {

    ul {

      @include list;
      flex-direction: column!important;
      justify-content: center;
      align-items: center;

      li {

        flex: none;


        &:not(:last-child) {

          margin-right: 0;
          margin-bottom: $gutter;

        }

      }

    }

    // 1.1. END

    // 1.2. TEXT

    h3 {

      margin-bottom: $gutter-medium;

    }

    // 1.2. END

  }

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
