// SITE [4.8: TV] ##############################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. SECTION ----------------------------------------------------------------



.c-content {

padding-bottom: 0;

}

// 1.1. END --------------------------------------------------------------------

// 1.1. SECTION ----------------------------------------------------------------

.c-content-header {

  ul {
    @include list(row);
    margin-bottom: $gutter;
    li {
      flex: none;
      margin-right: $gutter-small;
      color: $wimt-grayMid;
    }
  }

}

// 1.1. END --------------------------------------------------------------------

// 1.1. SECTION ----------------------------------------------------------------

.c-content-img {

  margin: $gutter-medium 0;

  position: relative;

  img {
    width: 100%;
  }

  figcaption {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    font-style: italic;

    background: rgba($black, 0.85);
    color: $white;
    padding: $gutter-small;
  }

}

// 1.1. END --------------------------------------------------------------------

// 1.1. SECTION ----------------------------------------------------------------

.c-content-footer {

  border-top: solid 2px $wimt-grayMid;
  border-bottom: solid 2px $wimt-grayMid;
  padding: $gutter 0;
  font-size: $small;
  margin-bottom: $gutter-medium;


  ul {
    @include list(row);
    li {
      color: $wimt-gray;

      &:nth-child(1) {

        flex: none;
        width: 30%;

      }

      &:nth-child(2) {

        flex: none;
        width: 70%;

        line-height: 30px!important;

        a {

          background: $wimt-grayLight;
          padding: 5px $gutter-small;
          border-radius: 10px;
          margin-right: $gutter-small;
          word-break: break-all!important;

          &:hover {
            background: $wimt-blue;
            color: $white;
          }

        }
      }


    }
  }

}

// 1.1. END --------------------------------------------------------------------

.c-content-body {

  margin-bottom: $gutter-medium;

  p:first-child {
    font-size: $medium!important;
    line-height: 26px!important;
  }

}

// 1.1. END --------------------------------------------------------------------

.c-content-nav {
  margin-top: -$gutter-medium;
  margin-bottom: $gutter-medium;
  border-bottom: solid 2px $wimt-grayMid;

  a {
    color: $wimt-grayDark;
    font-weight: $light;
  }

  ul {
    @include list(row);
    li {

      width: 50%;
      padding: $gutter;
      font-size: $medium;

      &:nth-child(1) {
        .nextprev {
          border-right: solid 2px $wimt-grayMid;
          background: url('../images/icons/icon--left.svg') no-repeat left center;
          background-size: 16px;
          padding-left: 50px;
          display: block;
          a {
            display: inline!important;
          }
        }

      }
      &:nth-child(2) {
        .nextprev {
          background: url('../images/icons/icon--right.svg') no-repeat right center;
          background-size: 16px;
          padding-right: 50px;
          display: block;
          a {
            display: inline!important;
          }
        }
      }
      span {
        color: $wimt-blue;
        font-weight: $bold!important;
      }
    }
  }
}

// 1.1. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  .c-content-footer {


    ul {

      flex-direction: column!important;

      li {

        &:nth-child(1) {

          flex: none;
          width: 100%;

        }

        &:nth-child(2) {

          flex: none;
          width: 100%;

          line-height: 30px!important;

          
        }


      }
    }

  }

  .c-content-nav {

    ul {
      li {

        width: 50%;
        padding: $gutter-small;

        &:nth-child(1) {
          .nextprev {
            border-right: solid 2px $wimt-grayMid;
            background: none;
            background-size: 0px;
            padding-left: 0;
            display: block;
            a {
              display: inline!important;
              padding-right: $gutter;
            }
          }

        }
        &:nth-child(2) {
          .nextprev {
            background: none;
            background-size: 0px;
            padding-right: 0px;
            display: block;
            a {
              display: inline!important;
            }
          }
        }
        span {
          display: block;
        }
      }
    }
  }

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
