// SITE [4.1: TYPOGRAPHY] ######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. GLOBAL -----------------------------------------------------------------

* {

  @include set-type($raleway, $light, normal);

  line-height: normal!important;

  .blue {
    color: $wimt-blue!important;
  }

}

// 1.1. END --------------------------------------------------------------------

// 1.1. HEADINGS ---------------------------------------------------------------

h1, h2, h3 ,h4 ,h5 ,h6 {

  margin: 0 0 $gutter 0;
  @include set-type($raleway, $light, normal);
  color: $wimt-grayDarker;

}

h2 {

  font-size: $x-large;
  margin-bottom: $gutter-medium;
  font-weight: $light;

}

h3 {

  font-weight: $thin;
  font-size: $large;
  margin-bottom: $gutter-medium;

}

h4 {

  text-transform: uppercase;
  font-weight: $bold;

}

// 1.1. END --------------------------------------------------------------------

// 1.2. GENERAL TYPE -----------------------------------------------------------

p {
  color: $wimt-grayDarker;
  font-weight: $regular;
  line-height: 22px!important;
  &.lead {
    font-weight: $light;
    font-size: $large;
  }

  iframe {
    height: 560px;
  }

}

em {

  @include set-type($bitter, 400, italic);

}

a {

  color: $wimt-blue;

  @include animate-basic('0.3');

  &:hover {

    color: $wimt-blueDark;

    @include animate-basic('0.3');

  }

}

small {

  text-transform: uppercase;
  display: block;
}

.-hidden {

  display: none;

}

iframe {
  width: 100%;
  height: 560px;
  max-width: 680px;
  max-height: 560px;

  border: none;
}

.dissapear {
  &.is-open {
    display: none!important;
  }
}

// 1.2. END --------------------------------------------------------------------

// 1.2. END --------------------------------------------------------------------

/* Images */
.entry-content img,
.comment-content img,
.widget img {
    max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"] {
    height: auto; /* Make sure images with WordPress-added height and width >attributes are scaled correctly */
}
img.size-full {
    max-width: 97.5%;
    width: auto; /* Prevent stretching of full-size images with height and >>width attributes in IE8 */
}
.wp-caption { max-width: 100%; }

.wp-caption {
  margin-bottom: $gutter;
  img {
    width:100%!important;
  }
  .wp-caption-text {
    background: $wimt-blue;
    color: $white;
    font-style: italic;
    padding: $gutter-small;
  }
}

.alignleft {
  float: left;
  margin: 0 $gutter $gutter 0;
}

.alignright {
  float: right;
  margin: 0 0 $gutter $gutter;
}

// 1.2. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  h1, h2, h3 ,h4 ,h5 ,h6 {

    margin: 0 0 $gutter 0;
    @include set-type($raleway, $light, normal);
    color: $wimt-grayDarker;

  }

  h2 {

    font-size: $large;
    margin-bottom: $gutter-medium;
    font-weight: $light;

  }

  h3 {

    font-weight: $thin;
    font-size: $medium;
    margin-bottom: $gutter-medium;

  }

  h4 {

    text-transform: uppercase;
    font-weight: $bold;

  }

  .alignleft {
    float: none;
    margin: 0 0 $gutter 0;
  }

  .alignright {
    float: none;
    margin: 0 0 $gutter 0;
  }


}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  .alignleft {
    float: none;
    margin: 0 0 $gutter 0;
  }

  .alignright {
    float: none;
    margin: 0 0 $gutter 0;
  }

}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

  

}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
