// SITE [4.2: SECTION] #########################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. SECTION ----------------------------------------------------------------

.section {

  .wp-caption, .alignnone, .size-full {
    max-width: 100%!important;
    height: auto!important
  }


}

// 1.1. END --------------------------------------------------------------------

// 1.2. SECTION HEADER ---------------------------------------------------------

.section-header {}

// 1.2. END --------------------------------------------------------------------

// 1.3. SECTION BODY -----------------------------------------------------------

.section-body {}

// 1.3. END --------------------------------------------------------------------

// 1.4. SECTION FOOTER ---------------------------------------------------------

.section-footer {}

// 1.4. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  // 2.1. SECTION --------------------------------------------------------------

  .section {
    padding: $gutter 0;

    &.-large {
      padding: $gutter-medium 0;

    }

  }

  // 2.1. END ------------------------------------------------------------------


}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  // 3.1. SECTION --------------------------------------------------------------

  .section {
    padding: $gutter-medium 0;

    &.-large {
      padding: $gutter-medium 0;

    }

  }

  // 3.1. END ------------------------------------------------------------------


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

  // 4.1. SECTION --------------------------------------------------------------

  .section {
    padding: $gutter-medium 0;

    &.-large {
      padding: $gutter-large 0;

    }

  }

  // 4.1. END ------------------------------------------------------------------


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

  // 5.1. SECTION --------------------------------------------------------------

  .section {
    padding: $gutter-large 0;

    &.-large {
      padding: $gutter-large 0;

    }

    &.-special {
      padding: 0 0 $gutter-large 0;
    }

  }

  // 5.1. END ------------------------------------------------------------------


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
