// SITE [4.3: BLOCK-CTA] #######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. SECTION ----------------------------------------------------------------

.c-cta {

  background: url('../images/site/block--cta.jpg') repeat;
  background-size: auto 100%;
  text-align: center;

  p {
    @include set-type($bitter, 400, italic);
  }

  @include theme-light;

  ul {
    @include list;
    li {
      font-weight: $light;
      color: rgba($wimt-grayLight, 0.75);
      font-size: $small;
      text-transform: uppercase;
      a {
        color: $white;
        font-size: 1.6em;
        text-transform: lowercase;
      }
    }
  }

  .btn {
    margin: $gutter-medium 0;
    font-weight: $light;
  }

}

// 1.1. END --------------------------------------------------------------------

// 1.2. SECTION HEADER ---------------------------------------------------------

// 1.2. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  // 2.1. SECTION --------------------------------------------------------------

  .c-cta {

    background-size: auto 100%;

  }

  // 2.1. END ------------------------------------------------------------------


}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

  // 4.1. SECTION --------------------------------------------------------------

  .c-cta {

    background-size: 100% auto;

  }

  // 4.1. END ------------------------------------------------------------------


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
