// SITE [4.4: BLOCK-LIST] ######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. SECTION ----------------------------------------------------------------

.c-list {

  h3 {
  }

  .grid-item {
    @include set-grid('one-whole', 'one-third','one-third','one-third')
  }

}

.c-list-header {

  margin-bottom: $gutter-medium;

}

.c-list-img {

  iframe {
    //width: 100px;
    margin: 0 auto;
  }

  margin: 0 0 $gutter 0;

  img {

    margin: 0;
    width: $gutter-medium;
    height: $gutter-medium;

  }

}

// 1.1. END --------------------------------------------------------------------

// 1.1. END --------------------------------------------------------------------

.c-list.-type-large {

  .grid-item {
    @include set-grid('one-whole', 'one-half','one-quarter','one-quarter')
  }

  text-align: center;

  h3 {
    font-weight: $bold;
  }

  iframe {
    height: 240px;
  }

  .c-list-img {

    margin: 0 0 $gutter 0;

    img {

      margin: 0 auto;
      width: 80%;
      height: auto;

    }

  }
  ul {
    p {
      font-size: $normal;
    }

  }

}

// 1.1. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  .c-list {

    ul {
      li {
        margin-bottom: $gutter-medium;
      }
    }

  }

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
