// SITE [4.6: TEASER] ##########################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. TEASER -----------------------------------------------------------------

.c-teaser {
  margin-bottom: $gutter;

  flex: 0 0 auto!important;
  @include set-grid('one-whole','one-half','one-half','one-half');

  h4 {
    text-transform: none;

  }

  li {color: $wimt-grayMid;}

}

// 1.1. END --------------------------------------------------------------------

// 1.2. TEASER HEADER ----------------------------------------------------------

.c-teaser-img {
  margin: 0 0 $gutter 0;

  img {
    width: 100%;

  }

}

// 1.2. END --------------------------------------------------------------------

// 1.3. TEASER HEADER ----------------------------------------------------------

.c-teaser-footer {

  ul {
    @include list('row');
    li {
      color: $wimt-gray;

      font-size: $small;

      flex: none;
      &:not(:last-child) {
        margin-right: $gutter-small;
      }
    }
  }

}

// 1.3. END --------------------------------------------------------------------

// 1.4. FIRST POST -------------------------------------------------------------

.c-teaser.-first {
  display: flex; 
  margin-bottom: 0;

  background: $white;
  flex-flow: row-reverse wrap!important;
  @include set-grid('one-whole','one-whole','one-whole','one-whole');
  
  


  .btn.-yellow {

    &:hover {
      color: $white!important;
    }

  }

  // 1.4.1. IMAGE

  .c-teaser-img {
    margin-bottom: 0;

    @include set-grid('one-whole','one-whole','one-half','one-half');

  }

  // 1.4.1. END

  // 1.4.2. Text

  .c-teaser-content {
    padding: $gutter-large;

    @include set-grid('one-whole','one-whole','one-half','one-half');
    //@include theme-light();


  }

  // 1.4.2. END

}

// 1.4. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  .c-teaser.-first {
    display: flex;
    flex-direction: column;

    margin-bottom: 0;

    background: $white;

    @include set-grid('one-whole','one-whole','one-whole','one-whole');

    .c-teaser-content {
      padding: $gutter;

      @include set-grid('one-whole','one-whole','one-half','one-half');


    }

    }



}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
