// SITE [4.4: BLOCK-QUOTE] #####################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. SECTION ----------------------------------------------------------------

.c-quote {
  text-align: center;



  ul {
    margin-top: $gutter-medium!important;
    margin-bottom: $gutter-medium;

    justify-content: center;
    li {
      @include set-grid('one-half', 'one-fifth', 'one-fifth', 'one-fifth');
      img {
        max-width: 100%;

        filter: grayscale(100%);
      }

      &:hover {
        img {
          filter: grayscale(0%);
        }
      }

    }

  }

  .quotes {
    display: none;

    .btn {
      display: block!important;

      width: 130px;
      margin: 0 auto!important;
      margin-top: $gutter-small!important;
    }

    &.-open {
      display: block;
    }

  }

}

// 1.1. END --------------------------------------------------------------------

// 1.2. SECTION HEADER ---------------------------------------------------------

// 1.2. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
