// SITE [4.8: TV] ##############################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. LINKED -----------------------------------------------------------------

.c-carousel {

  //display: flex;
  //justify-content: center;
  //align-items: center;

  overflow: hidden;

  position: relative;

  padding: $gutter-medium $gutter-medium $gutter-large $gutter-medium;

  h3.title {
    position: absolute;
    top: 0;
  }

  h3 {

    text-align: center;

  }

}

// 1.1. END --------------------------------------------------------------------

// 1.2. LINKED ITEM ------------------------------------------------------------

.c-carousel-item {



}

// 1.2. END --------------------------------------------------------------------


// 1.2. CONTROLS ---------------------------------------------------------------

.slick-arrow {

  border: none;
  background: none;
  width: 20px;
  height: 20px;

  position: absolute;
  bottom: $gutter-medium;

  &.slick-prev {
    background: url('../images/site/icon--arrow-left.svg') no-repeat;
    left: $gutter-medium;
  }
  &.slick-next {
    background: url('../images/site/icon--arrow-right.svg') no-repeat;
    right: $gutter-medium;
  }

}

// 1.2. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
