// SITE [5.5: BLOCK GRID] ######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. CASE STUDIES -----------------------------------------------------------

.m-team {

  text-align: center;
  padding-top: 0;

  a {

    font-weight: $regular;

  }

  .m-team-list {

    margin-bottom: $gutter!important;

    @include list(row);

    justify-content: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }

    li {

      flex: none;
      text-align: center;

      &:not(:last-child) {
        margin-right: $gutter-small;
      }


    }
  }

}

// 1.1. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
