// SITE [5.5: BLOCK GRID] ######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. CASE STUDIES -----------------------------------------------------------

.m-ebook {

  width: 50%;

  margin: 0 $gutter $gutter 0;

  float: left;
  display: flex;

  padding: $gutter;

  h3 {
    margin-bottom: $gutter;
    font-weight: $bold;
  }

  .formwrap {
    .clickdform {
      margin-right: -15px!important;
      span {
        color: $white!important;
        &.maxSize1 {
          color: $white!important;
        }
      }
    }
  }

    

    form {
      display: flex;

      span {opacity: 1!important;}

      input {

        border: none;
        padding: $gutter-small;
        background: $white;

      }

      .WizardNextButton {
        background: $wimt-grayDark;
        color: $white!important;
      }

      input[type="text"] {

        border: none;
        padding: $gutter-small;
        margin-right: $gutter-small;
        width: 200px!important;
        @include set-type($raleway,$bold, normal);

        background: $white;

      }

    }

    .responsiveRow {

      flex: auto;

    }

    .responsiveCell {
      display: inline-block!important;
    }

    .responsiveCellSize1,
    .responsiveCellSize3,
    .minSize1,
    .minSize3 {
      width: auto!important;
      min-width: 0!important;
  }

    .emptyCell {
      display: none!important;
    }

}

// 1.1. END --------------------------------------------------------------------

// 1.1. CASE STUDIES -----------------------------------------------------------

.m-ebook-img {

  width: 50%;
  flex: none;
  margin: 0 $gutter 0 0;

  img {
    width: 100%;
  }

}

// 1.1. END --------------------------------------------------------------------

// 1.1. CASE STUDIES -----------------------------------------------------------

.m-ebook {

  &--blue {
    background: $wimt-blue;
    h3, p {
      color: $white;
    }
  }
  &--yellow {
    background: $wimt-yellow;
    h3, p {
      color: $white;
    }
  }

}

// 1.1. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  // 1.1. CASE STUDIES ---------------------------------------------------------

  .m-ebook {

    width: auto;
    max-width: 100%;

    margin: 0 0 $gutter 0;

    float: none;
    display: flex;

  }

  // 1.1. END ------------------------------------------------------------------

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  // 1.1. CASE STUDIES ---------------------------------------------------------

  .m-ebook {

    width: auto;
    max-width: 100%;

    margin: 0 0 $gutter 0;

    float: none;
    display: flex;

  }

  // 1.1. END ------------------------------------------------------------------

}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
