// SITE [5.5: BLOCK GRID] ######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. CASE STUDIES -----------------------------------------------------------

.c-linked-case_study {

  background: url('../images/site/bg--cases.jpg') no-repeat;
  background-size: cover;

  padding: $gutter-large*2;

  .c-carousel {

    background: $wimt-grayLight;
    max-width: 600px;
    margin: 0 auto;

  }

  .c-carousel-item {

    margin: 0 $gutter-medium;
    max-width: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    text-align: center;

    a {
      color: $wimt-grayDark;
    }

    &.slick-current {
      opacity: 1;
    }

  }

}

// 1.1. END --------------------------------------------------------------------

// 1.2. AWARDS -----------------------------------------------------------------

.c-linked-award {

  background: $wimt-grayLight;

  // 1.2.2. END

  .c-carousel-item {

    margin: 0 $gutter-medium;
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    text-align: center;

    &.slick-current {
      opacity: 1;
    }

  }

  // 1.2.2. END

  // 1.2.3. END

  .award-date {

    background: url('../images/icons/icon--wreath.svg') no-repeat;

    margin: 0 auto;

    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: $medium;
      font-weight: $regular;
      display: block;
      margin-top: -$gutter;
    }

  }

  // 1.2.3. END

  // 1.2.4. END

  .award-title {

    font-size: $medium;
    font-weight: $regular;
    margin-bottom: $gutter-small;

  }

  // 1.2.4. END


}

// 1.2. END --------------------------------------------------------------------

// 1.1. CASE STUDIES -----------------------------------------------------------

.c-linked-testimonials {

  padding: 0;

  .c-carousely-thumbs {
    @include list(row);
    justify-content: center;
    background: rgba($white, 0.85);
    padding: $gutter 10%;
    margin-top: -160px;
    position: relative;
    z-index: 500;

    li {
      flex: none;
      &:not(:last-child) {
        margin-right: $gutter-medium;
      }

      img {
        filter: grayscale(100%);
      }



    }
    .active {
      img {
        filter: grayscale(0%);
      }
    }
  }

  .c-carousely {

    padding: 0!important;
    overflow: hidden;
    position: relative;

    img {
    }

    li {

      opacity: 0;
      padding: 0;
      position: relative;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      transition: 1s;
      height: 680px;

      &.active {
        opacity: 1;
        position: relative;
        z-index: 500;
        transition: 1s;
      }

    }

  }

  .c-carousely-item {
    //max-width: 500px;
    background: $wimt-grayLight;
    position: absolute;
    top: $gutter-large;
    left: 30%;
    right: 30%;
    padding: $gutter-medium;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      margin: $gutter auto 0 auto;
    }

    p {font-weight: $light;}

    small {
      font-size: $small;
      text-transform: capitalize;
    }
    strong {
      margin-bottom:$gutter-small;
    }
    aside {
      position: absolute;
      left: $gutter-medium;
      right: $gutter-medium;
      bottom: $gutter-medium;
      display: flex;
      justify-content: space-between;
      span {}
      img {
        height: 20px;
        width: 20px;
      }
    }
  }

}

// 1.1. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  // 1.1. CASE STUDIES ---------------------------------------------------------

  .c-linked-case_study {

    background-size: 100% auto;

    padding: 140px 0 0 0;

    .c-carousel {

      background: $wimt-grayLight;
      max-width: none;
      width: 100%;
      margin: 0 auto;
      padding: $gutter;
      margin-top: 150px;

    }

    .c-carousel-item {

      margin: 0;
      max-width: 360px;
      padding: 0 $gutter;

    }

  }

  // 1.1. END ------------------------------------------------------------------

  // 1.1. CASE STUDIES ---------------------------------------------------------

  .c-linked-testimonials {

    padding: 0;

    .c-carousely-thumbs {
      display: none;
    }

    .c-carousely {

      padding: 0!important;
      overflow: hidden;
      position: relative;

      img {
        height: 35%!important;
      }

      li {

        opacity: 0;
        padding: 0;
        position: relative;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        transition: 1s;
        height: 680px;

        &.active {
          opacity: 1;
          position: relative;
          z-index: 500;
          transition: 1s;
        }

      }

    }

    .c-carousely-item {
      //max-width: 500px;
      background: $wimt-grayMid;
      position: absolute;
      top: 30%;
      left: 0;
      right: 0;
      bottom: 0;
      padding: $gutter-medium;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        max-width: 100%;
      }
    }

  }

  // 1.1. END ------------------------------------------------------------------

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
