// SITE [5.5: BLOCK GRID] ######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. GRAY THEME -------------------------------------------------------------

.m-layout--gray {

  background: $wimt-grayLight;

}

.m-layout--grayer,
.m-layout--Grayer {

  background: $wimt-grayMid;

  .press-block {
    flex-direction: row!important;
    justify-content: space-between;
    font-size: $small;

    margin: -$gutter-large 0 0 0;
    padding: 0;

    a {
      color: $wimt-grayDark;
      font-weight: $regular;
    }

    li {
      padding: $gutter;
      flex: auto;
      max-width: 50%;

      &:first-child {
        background: $white;
        text-align: left;
        ul {
          flex-direction: column!important;
          li {
            margin: 0;
            padding: 0;
            width: 100%;
          }
        }

      }

      &:last-child {
        border: solid 2px $white;

        li {
          flex: none;
          width: 80px;
          height: 80px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          font-weight: $bold!important;
        }
      }

    }
  }

  .m-listings-header {
    justify-content: center;
    ul {
      @include list(row);
      flex-direction: row!important;
    }
  }

  .c-teaser-header, .c-teaser-img {

    background: $white;
    border-color: $wimt-grayMid;

  }
  .c-teaser-footer {
    display: none;
  }

}

// 1.1. END --------------------------------------------------------------------

// 1.1. GRAY THEME -------------------------------------------------------------

.m-layout--gold {

  background: $wimt-yellow;

  a {
    color: $wimt-grayDarker;
    font-weight: $bold;
    text-transform: uppercase;
  }

}

.m-layout--animated {

  padding-top: 0;



  h3 {
    margin-bottom: $gutter-large;
  }

}

// 1.2. END --------------------------------------------------------------------

// 1.1. GRAY THEME -------------------------------------------------------------

.m-layout--black {

  background: $wimt-grayDarker;
  @include theme-light;

}

// 1.2. END --------------------------------------------------------------------

// 1.1. GRAY THEME -------------------------------------------------------------

.m-layout--squares {

  h3 {
    font-weight: $regular!important;

  }

  &.-type-large {
    .grid-item {
      @include set-grid('one-whole','one-half','one-half','one-half');
    }
  }

  .c-list-img {

    border-top: solid 2px $wimt-grayMid;
    width: 100%;
    height: 30px;
    img {
      width: 22px!important;
      height: 22px!important;
      margin: -10px 0 0 0!important;
      padding: 5px;
      background: $white;
    }
  }

  .c-list-content {
    padding: $gutter-medium;
  }

  ul {
    margin-top: $gutter-medium;
    margin-left: -$gutter;

    .grid-item {

      margin-bottom: $gutter-medium;
      padding-left: $gutter;
      text-align: left;

      h4 {
        font-weight: $regular;
        text-transform: capitalize;
        font-size: $large;
      }
    }

  }

}

// 1.2. END --------------------------------------------------------------------

// 1.2. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
