// SITE [5.5: BLOCK GRID] ######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. CASE STUDIES -----------------------------------------------------------

.m-listings {

}

// 1.1. END --------------------------------------------------------------------

// 1.2. HEADER -----------------------------------------------------------------

.m-listings-header {

  display: flex;
  align-items: center;

  margin-bottom: $gutter-medium;

  h3 {
    flex: none;
    margin: 0;
    text-transform: capitalize;
  }

  form {
    flex: none;

    margin-left: $gutter;

    background: $wimt-grayLight;
    padding: 10px $gutter-small;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      margin: 0!important;
      background: $wimt-grayLight;
      border: none;
      width: 30px;
      @include animate-basic;
      &:focus {
        width: 150px;
        outline:none;
        @include animate-basic;
      }
    }

    button {
      margin: 0!important;
      border: none;
      background: url('../images/icons/icon--search.svg') no-repeat;
      width: 15px;
      height: 15px;
    }

  }

  nav {
    flex: none;
    margin-left: auto;
  }

}

// 1.2. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
