// SITE [5.1: PAGE] ############################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. GLOBAL -----------------------------------------------------------------

* {

  box-sizing: border-box;

}

html, body {

  margin: 0;
  padding: 0;

}

// 1.1. END --------------------------------------------------------------------

// 1.2. WRAPPER ----------------------------------------------------------------

.wrapper {

  margin: 0;
  padding: 0;

}

// 1.2. END --------------------------------------------------------------------



// 1.2. END --------------------------------------------------------------------

body {

  margin-top: 60px;

  &.home {

    margin-top: 0!important;

  }

  &.admin-bar {

    //margin-top: 60px + 32px

  }

}

// 1.2. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  // 1.2. END ------------------------------------------------------------------

  html {
    margin-top: 0px!important;
  }

  body {

    margin-top: 0px!important;

    #wpadminbar {
      display: none;
    }

    &.home {

      margin-top: 0!important;

    }

    &.admin-bar {

      //margin-top: 60px + 32px

    }

  }

  // 1.2. END ------------------------------------------------------------------


}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  // 1.2. END ------------------------------------------------------------------

  html {
    margin-top: 0px!important;
  }

  body {

    margin-top: 0px!important;

    #wpadminbar {
      display: none;
    }

    &.home {

      margin-top: 0!important;

    }

    &.admin-bar {

      //margin-top: 60px + 32px

    }

  }

  

  // 1.2. END ------------------------------------------------------------------

}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
