// SITE [5.2: MASTHEAD] ########################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. MASTHEAD ---------------------------------------------------------------

.masthead {

  padding-top: 0;
  padding-bottom: 0;

  #menu-item-742 {
    margin-left: $gutter-small;
  }

  .container {

    display: flex;
    justify-content: space-between;

  }

  height: 60px;

  position: fixed;
  left: 0;
  right: 0;
  z-index: 900;

  @include animate-basic('0.5');

  .burger-dark {
    display: block;
    @include animate-basic('0.5');
  }
  .burger-light {
    display: none;
    @include animate-basic('0.5');
  }

  &.-scrolled {

    background: rgba($wimt-black, 0.85);
    @include animate-basic('0.5');

    .burger-dark {
      display: none;
      @include animate-basic('0.5');
    }
    .burger-light {
      display: block;
      @include animate-basic('0.5');
    }

    a {
      color: $white!important;
    }

  }

  &.-has-header {

    .burger-dark {
      display: none;
      @include animate-basic('0.5');
    }
    .burger-light {
      display: block;
      @include animate-basic('0.5');
    }

    a {
      color: $white!important;
    }

  }

}

// 1.1. END --------------------------------------------------------------------

// 1.2. MASTHEAD POSITIONING ---------------------------------------------------

body {

  &.single-post {


  }

  .masthead {
    top: 0;
  }

  &.logged-in {

    .masthead {
      top: 32px;
    }
    .blog-header {
      top: 92px;
    }

  }

  &.page-template-wimt-blog, &.page-template-wimt-blog-page, &.single-post {

    padding-top: 132px;

    .masthead {

      background: $wimt-grayDarker;
      a {
        color: $white!important;
      }
      .sub-menu {

        a {

          color: $wimt-grayDark!important;
        }

      }

    }

  }

  &.single-case_study {



    .menu {
      a {
        color: $white!important;
      }

      .sub-menu {

        li {
          a {
            color: $wimt-grayDark!important;
          }
        }
      }

    }

  }

}

// 1.2. END --------------------------------------------------------------------

// 1.2. MASTHEAD ---------------------------------------------------------------

.masthead-logo {

  width: 100px;
  position: relative;
  z-index: 999;

  img {
    width: 100%;
  }

}

.masthead-burger {

  margin-top: 8px;
  width: 40px;
  height: 40px;
  padding: $gutter-small;
  display: none;

}

// 1.2. END --------------------------------------------------------------------

// 1.3. MASTHEAD - NAVIGATION --------------------------------------------------

.masthead-nav {

  .masthead-nav-header {

    display: none;

    padding: $gutter 0;

    img {
      margin: 0 auto $gutter auto;
      padding: 5px;
    }

    p {
      text-transform: uppercase;
      text-align: center;
      color: $white;
      font-weight: $regular;
    }
  }

  .current-menu-item, .current-menu-parent {
    a {
      //color: $wimt-blue!important;
      font-weight: $bold;
    }
  }

  ul {

    margin: 0;
    padding: 0;
    align-items: center;

    li {

      margin: 0;
      list-style: none;
      position: relative;

      &:not(:last-child) {

        a {

          display: block;
          color: $wimt-grayDark;
          padding: $gutter $gutter-small;

          &:hover {
            color: $wimt-blue!important;
          }

        }

      }

      &:last-child {

        a {
          display: inline-block;
          background: $wimt-blue;
          border-radius: 20px;
          color: $white;
          padding: 5px $gutter-small;
          &:hover {
            color: $white!important;
          }
        }

      }

    }

  }

  // 1.3.1. MENU

  .menu {

    display: flex;

  }

  // 1.3.1. END

  // 1.3.2. SUB MENU

  .sub-menu {

    //display: none;
    background: $wimt-grayLight;
    text-align: center;
    position: absolute;
    top: 55px;
    left: 50%;
    width: 150px;

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);

    &:after {

      content: '';
      width: 0;
      height: 0;
      border-left: $gutter-small solid transparent;
      border-right: $gutter-small solid transparent;

      border-bottom: $gutter-small solid $wimt-grayLight;

      position: absolute;
      top: -$gutter-small;
      left: 50%;
      z-index: 9999;
      transform: translateX(-50%);

    }

    @include animate-basic('0.5');

    transform: translate3d(-50%,-500%,0);
    opacity: 0;

    a {

      color: $wimt-grayDark!important;
      font-weight: $light!important;

      &:hover {

        background: $white!important;

      }

    }

    li {

      &:last-child {

        a {
          display: block;
          background: transparent;
          border-radius: 0px;
          color: $wimt-grayDark;
          padding: $gutter 0;

          &:hover {
            color: $wimt-blue!important;
          }
        }

      }

    }

  }

  // 1.3.2. END

  // 1.3.3. ACTIVATE SUBMENU

  .menu-item-has-children {

    &:hover {

      .sub-menu {


        animation: nav_popup 0.8s;
        transform: translate3d(-50%,0,0);
        opacity: 1;

      }

    }

  }

  // 1.3.3. END

}

// 1.3. END --------------------------------------------------------------------

// 1.4. BLOG MASTHEAD ----------------------------------------------------------

.blog-header {

  background: $wimt-grayLight;

  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 888;
  padding-top: $gutter;
  padding-bottom: $gutter;

  .container {

    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  ul {
    @include list(row);
    margin-right: auto;
    margin-left: $gutter;
    li {
      margin-right: $gutter-small;
    }
  }

  h5 {
    font-weight: $bold;
    margin: 0;
    flex: none;
    margin-right: $gutter-small;
    display: flex;
    align-items: center;
    font-weight: $light;
    img {
      width: 150px;
      display: inline;
      margin-left: $gutter-small;
    }
  }

  .blog-header-logo {
    flex: none;
    width: 200px!important;
    margin-right: auto;
  }

}

// 1.4. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


  // 2.1. MASTHEAD -------------------------------------------------------------

  .masthead {

    height: 60px;

    position: fixed;

  }

  // 2.1. END ------------------------------------------------------------------

  // 2.2. MASTHEAD POSITIONING -------------------------------------------------

  body {

    &.page-template-wimt-blog, &.page-template-wimt-blog-page, &.single-post {

    padding-top: 144px;
    
    }
    &.logged-in {

      .masthead {
        top: 0px;
      }

      .blog-header {
        top: 60px;
      }

    }


  }




  // 2.2. END ------------------------------------------------------------------

  // 2.2. MASTHEAD -------------------------------------------------------------

  .masthead-logo {

    width: 100px;


  }

  .masthead-burger {

    display: block;

  }

  // 2.2. END ------------------------------------------------------------------

  // 2.3. MASTHEAD - NAVIGATION ------------------------------------------------

  .masthead-nav {

    background: $wimt-grayDark;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: none;
    overflow-y: auto;
    height: 100vh;

    transform: translateY(-100%);
    @include animate-basic;

    &.is-open {

      transform: translateY(0);
      @include animate-basic;

    }

    .masthead-nav-header {
      display: block;
    }

    ul {

      flex-direction: column!important;

      li {

        text-align: center;
        width: 100%;

        &:not(:last-child) {
          a {

            display: block!important;
            width: 100%;
            color: $white!important;
            padding: $gutter-small 0;
            background: $wimt-grayDarker;
            font-weight: $regular;

          }
        }

        &:last-child {
          padding: $gutter 0;
        }

      }

    }

    // 2.3.1. MENU

    .menu {

      display: flex;

    }

    // 2.3.1. END

    // 2.3.2. SUB MENU

    .sub-menu {

      //display: none;
      background: $wimt-black;
      text-align: center;
      position: relative;
      top: 0;
      left: 0;
      width: auto;

      &:after {

        display: none;

      }

      @include animate-basic('0.5');

      transform: translate3d(0,0,0);
      opacity: 1;

      li {

        text-align: center;
        width: 100%;

        a {
          display: block!important;
          width: 100%;
          color: $white!important;
          padding: $gutter-small 0!important;
          background: $wimt-black!important;
          font-weight: $regular;
        }

        &:last-child {
          padding: 0!important;
        }

      }

    }

    // 2.3.2. END

    // 2.3.3. ACTIVATE SUBMENU

    .menu-item-has-children {

      &:hover {

        .sub-menu {


          animation: none;
          transform: translate3d(0,0,0);
          opacity: 1;

        }

      }

    }

    // 2.3.3. END

  }

  // 2.3. END ------------------------------------------------------------------


  .blog-header {

    .container {

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

    }

    ul {
      margin-right: auto;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: $gutter;
      li {
        margin-right: $gutter-small;
      }
    }

    h5 {
    }

    .blog-header-logo {
      flex: none;
      width: 200px!important;
      margin-right: auto;
    }

  }

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  // 2.1. MASTHEAD -------------------------------------------------------------

  .masthead {

    height: 60px;

    position: fixed;

  }

  // 2.1. END ------------------------------------------------------------------

  // 2.2. MASTHEAD POSITIONING -------------------------------------------------

  body {

    .masthead {
      top: 0;
    }

    &.logged-in {

      .masthead {
        top: 0px;
      }

      .blog-header {
        top: 60px;
      }

    }

    &.blog {

      .masthead {

        background: $wimt-grayDarker;

      }

    }

  }

  // 2.2. END ------------------------------------------------------------------

  // 2.2. MASTHEAD -------------------------------------------------------------

  .masthead-logo {

    width: 100px;


  }

  .masthead-burger {

    display: block;

  }

  // 2.2. END ------------------------------------------------------------------

  // 2.3. MASTHEAD - NAVIGATION ------------------------------------------------

  .masthead-nav {

    background: $wimt-grayDark!important;
    position: absolute;
    left: 60%;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100vh;

    transform: translateY(0);
    transform: translateX(100%);
    @include animate-basic;

    &.is-open {

      transform: translateY(0);
      transform: translateX(0);
      @include animate-basic;
      overflow-y: auto;

    }

    .masthead-nav-header {
      display: block;
    }

    ul {

      flex-direction: column!important;

      li {

        text-align: center;
        width: 100%;

        &:not(:last-child) {
          a {

            display: block!important;
            width: 100%;
            color: $white!important;
            padding: $gutter-small 0;
            background: $wimt-grayDarker;
            font-weight: $regular;

          }
        }

        &:last-child {
          padding: $gutter 0;
        }

      }

    }

    // 2.3.1. MENU

    .menu {

      display: flex;

    }

    // 2.3.1. END

    // 2.3.2. SUB MENU

    .sub-menu {

      display: block;
      background: $wimt-black;
      text-align: center;
      position: relative!important;
      top: 0;
      left: 0;
      width: auto;

      &:after {

        display: none;

      }

      @include animate-basic('0.5');

      transform: translate3d(0,0,0)!important;
      opacity: 1!important;

      li {

        text-align: center;
        width: 100%;

        a {
          display: block!important;
          width: 100%;
          color: $white!important;
          padding: $gutter-small 0!important;
          background: $wimt-black!important;
          font-weight: $regular;
        }

        &:last-child {
          padding: 0!important;
        }

      }

    }

    // 2.3.2. END

    // 2.3.3. ACTIVATE SUBMENU

    .menu-item-has-children {

      &:hover {

        .sub-menu {


          animation: none;
          transform: translate3d(0,0,0);
          opacity: 1;

        }

      }

    }

    // 2.3.3. END

  }

  // 2.3. END ------------------------------------------------------------------


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
