// SITE [5.4: FOOTEND] #########################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. FOOTEND ----------------------------------------------------------------

.footend {

  background: $wimt-grayDark;

  h4 {
    font-size: $small;
  }

  @include theme-light;

  a {
    font-weight: $light;
  }

}

// 1.1. END --------------------------------------------------------------------

// 1.2. END --------------------------------------------------------------------

  .footend-details {
    flex: none;
    width: 40%;

    img {

      width: 50%;
      margin-bottom: $gutter;

    }

    ul {
      @include list;

      li {
        font-size: $small;
        &:nth-child(1) {
          a {
            font-weight: $bold;
          }
        }
        &:nth-child(2) {
          a {
            font-weight: $light;
          }
        }

      }

    }

  }

// 1.2. END --------------------------------------------------------------------

// 1.3. FOOTER NAVIGATION ------------------------------------------------------

.footend-nav {

  flex: none;
  width: 20%;

  a {
    color: $wimt-grayLight;
    font-size: $small;

    img {
      opacity:1;
      @include animate-basic('0.3');
    }
    &:hover {
      img {
      opacity:0.4;
      @include animate-basic('0.3');
    }
    }
  }

  h4 {
    margin: 0;
  }

  ul {
    @include list;
    li {
      width: auto!important;
    }
  }

  &.-legal {
    display: flex;
    align-items: baseline;

    h6 {
      margin: 0;
      color: $white;
      font-size: $small;
      margin-right: $gutter;
    }
  }

  &.-bottom {

    flex: none;
    width: 50%;



    h6 {
      font-weight: $bold;
    }
    margin-top: $gutter-medium;

    ul {

      flex-flow: row nowrap!important;

      li {

        flex: none;
        margin-right: $gutter;
        a {
        }

      }
    }

  }

}

// 1.3. END --------------------------------------------------------------------

// 1.3. END --------------------------------------------------------------------
// 1.3. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  // 1.1. FOOTEND --------------------------------------------------------------

  .footend {

  }

  // 1.1. END ------------------------------------------------------------------

  // 1.2. END ------------------------------------------------------------------

    .footend-details {
      width: 100%;
      margin-bottom: $gutter-medium;

      img {

        width: 80%;
        margin-bottom: $gutter;

      }

    }

  // 1.2. END ------------------------------------------------------------------

  // 1.3. FOOTER NAVIGATION ----------------------------------------------------

  .footend-nav {
    flex: none;
    width: 100%;

    ul {
      margin-bottom: $gutter;
    }

    &.-bottom {

      flex: none;
      width: 100%;

    }

  }



  // 1.3. END ------------------------------------------------------------------

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  // 1.1. FOOTEND --------------------------------------------------------------

  .footend {

  }

  // 1.1. END ------------------------------------------------------------------

  // 1.2. END ------------------------------------------------------------------

    .footend-details {
      width: 100%;
      margin-bottom: $gutter-medium;

      img {

        width: 30%;
        margin-bottom: $gutter;

      }

    }

  // 1.2. END ------------------------------------------------------------------

  // 1.3. FOOTER NAVIGATION ----------------------------------------------------

  .footend-nav {

    ul {
      margin-bottom: $gutter;
    }

    &.-bottom {

      flex: none;
      width: 100%;

    }

  }



  // 1.3. END ------------------------------------------------------------------


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

  // 1.1. FOOTEND --------------------------------------------------------------

  .footend {

  }

  // 1.1. END ------------------------------------------------------------------


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

  // 5.1. FOOTEND --------------------------------------------------------------

  .footend {



  }

  // 5.1. END ------------------------------------------------------------------


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
