// SITE [5.5: CONTACT GRID] ####################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. CONTACT GROUP ----------------------------------------------------------

.m-contact {

  @include theme-light;

  ul {

    @include list;

  }

  .grid {

    &:nth-child(odd) {
      background: $wimt-blue;
      flex-direction: row;
    }
    &:nth-child(even) {
      background: $wimt-blueDark;
      flex-direction: row-reverse;
    }

  }

}

// 1.1. END --------------------------------------------------------------------

// 1.2. END --------------------------------------------------------------------

.m-contact-details {

  @include set-grid('one-whole', 'one-half', 'one-half', 'one-half');
  padding: $gutter-large;

  h2 {
    font-weight: $regular;
  }

  li {
    font-weight: $light;
    font-size: 1.3em;
    margin-bottom: $gutter-small;
    small {
      font-weight: $light;
      font-size: 0.6em;
    }
  }

}

// 1.2. END --------------------------------------------------------------------

// 1.3. FOOTER NAVIGATION ------------------------------------------------------

.m-contact-map {

  @include set-grid('one-whole', 'one-half', 'one-half', 'one-half')
  margin: 0;

}

// 1.3. END --------------------------------------------------------------------

// 1.3. END --------------------------------------------------------------------
// 1.3. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  // 1.1. FOOTEND --------------------------------------------------------------

  .m-contact {

    @include theme-light;

    .grid {

      &:nth-child(odd) {
        flex-direction: column!important;
      }
      &:nth-child(even) {
        flex-direction: column!important;
      }

    }

  }

  .m-contact-details {

    padding: $gutter;

  }

  .m-contact-map {

    @include set-grid('one-whole', 'one-half', 'one-half', 'one-half')
    margin: 0;
    height: 300px;

  }

  // 1.1. END ------------------------------------------------------------------

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  .m-contact-details {

    padding: $gutter;

  }


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

  // 1.1. FOOTEND --------------------------------------------------------------

  .footend {

  }

  // 1.1. END ------------------------------------------------------------------


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

  // 5.1. FOOTEND --------------------------------------------------------------

  .footend {



  }

  // 5.1. END ------------------------------------------------------------------


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
