// SITE [5.5: CONTACT GRID] ####################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. PAGE -------------------------------------------------------------------

.m-page {

}



// 1.1. END --------------------------------------------------------------------

// 1.2. END --------------------------------------------------------------------

.m-page-header {

  @include theme-light;

  text-align: center;
  margin: 0;
  margin-top: -61px;

  padding-top: 150px!important;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  h4 {

    font-weight: $bold;
    font-size: $normal;
    margin-bottom: $gutter-medium;

  }

  p {

    font-size: $normal;
    @include set-type($bitter, 400, italic);

  }

  .m-page-header-content {

    margin-top: 300px;
    display: flex;
    text-align: left;

    h2 {
      flex: none;
      font-weight: $light;
      font-size: 1.8em;

    }

    .m-page-header-video {
      flex: none;
      text-align: center;
      margin: 0;

      img {
        margin: 0 auto $gutter auto;
      }
      span {

        text-transform: uppercase;
        font-weight: $regular;
        display: block;
        text-align: center;


      }
    }

  }

}

// 1.2. END --------------------------------------------------------------------

.cs-back {
  background: $wimt-grayLight;
  border-bottom: solid 2px $wimt-grayMid;
  padding: $gutter 0;

  a {
      font-weight: $bold;
      text-transform: uppercase;
      color: $wimt-grayDark;
      display: flex;
      align-items: center;
      img {
        margin-right: $gutter-small;
      }
  }

}

.b-back {

  margin: $gutter-medium 0 0 0;

  a {
      font-weight: $bold;
      text-transform: uppercase;
      color: $wimt-grayDark;
      display: flex;
      align-items: center;
      img {
        margin-right: $gutter-small;
      }
  }

}

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  // 1.2. END ------------------------------------------------------------------

  .m-page-header {
    margin: 0;
    background-size: auto 100%;

    h2 {
      font-size: $large;
      text-align: center;
      margin-top: $gutter;
    }

    .m-page-header-content {

      padding: $gutter;

      background: $wimt-grayMid;

      margin-top: 200px;
      margin-left: -$gutter!important;
      margin-right: -$gutter!important;
      margin-bottom: -$gutter-medium;
      flex-direction: column;

      text-align: left;

      h2 {
        color: $wimt-grayDarker;
      }

      .m-page-header-video {

        img {
          max-width: 100%;
        }

        span {
          color: $wimt-grayDarker!important;
        }
      }

    }

  }

  // 1.2. END ------------------------------------------------------------------

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  // 1.2. END ------------------------------------------------------------------

  .m-page-header {
    margin-top: -61px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    h4 {

      font-weight: $bold;
      font-size: $normal;
      margin-bottom: $gutter-medium;

    }

    p {

      font-size: $normal;

    }

  }

  // 1.2. END ------------------------------------------------------------------


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
