// SITE [5.7: SIGNUPS] #########################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. PAGE -------------------------------------------------------------------

.m-signup {

  margin: 0;
  padding-top: $gutter-medium;
  padding-bottom: $gutter-medium;
  background: $wimt-blue;

  .container {
    display: flex;
  }

  p {
    font-weight: $bold;
  }

  &.-quarterly {

    background: $wimt-yellowDark;

  }

  &.-weekly {

    background: $wimt-blue;

  }

  header {
    flex: none;
    margin-right: $gutter;
    width: 50%;

  }

}

.m-signup--content {
  clear: both;
  background: $white;
  border-top: solid 2px $wimt-grayLight;
  border-bottom: solid 2px $wimt-grayLight;
  margin-bottom: $gutter;

  padding: $gutter;

  input {
    border: solid 1px $wimt-grayLight!important;
  }

  p {color: $wimt-grayDark;}

}

// 1.1. END --------------------------------------------------------------------

// 1.2. END --------------------------------------------------------------------

.m-signup-form {
  overflow: hidden;

  margin-top: -$gutter;

  form {
    display: flex;

    span {opacity: 0!important;}

    input {

      border: none;
      padding: $gutter-small;

    }

    #btnSubmit {
      background: $wimt-grayDark;
      color: $white!important;
    }

    input[type="text"] {

      border: none;
      padding: $gutter-small;
      margin-right: $gutter-small;
      width: 200px!important;
      @include set-type($raleway,$bold, normal);

      background: $white;

    }

  }

  .responsiveRow {

    flex: auto;

  }

  .responsiveCell {
    display: inline-block!important;
  }

  .responsiveCellSize1,
  .responsiveCellSize3,
  .minSize1,
  .minSize3 {
    width: auto!important;
    min-width: 0!important;
}

  .emptyCell {
    display: none!important;
  }

}

// 1.2. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  .m-signup {

    margin: 0;
    padding-top: $gutter-medium;
    padding-bottom: $gutter-medium;
    background: $wimt-blue;

    .container {
      display: flex;
      flex-direction: column;
    }

    p {
      font-weight: $bold;
    }

    &.-quarterly {

      background: $wimt-yellowDark;

    }

    &.-weekly {

      background: $wimt-blue;

    }

    header {
      flex: none;
      margin-right: $gutter;
      width: 100%;

    }

  }

  .m-signup-form {

    margin-top: $gutter;

    form {
      display: flex;

      span {opacity: 0!important;}

      input {

        border: none;
        padding: $gutter-small;

      }

      #btnSubmit {
        background: $wimt-grayDark;
        color: $white!important;
      }

      input[type="text"] {

        border: none;
        padding: $gutter-small;
        margin-right: $gutter-small;
        width: 150px!important;
        @include set-type($raleway,$bold, normal);

        background: $white;

      }

    }

    .responsiveRow {

      flex: auto;

    }

    .responsiveCell {
      display: inline-block!important;
    }

    .responsiveCellSize1,
    .minSize1 {
      width: auto!important;
      min-width: 0!important;
  }

    .emptyCell {
      display: none!important;
    }

  }

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
