// SITE [5.5: BLOCK GRID] ######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. CONTACT GROUP ----------------------------------------------------------

.m-blocks {

  @include theme-light;

  .grid {

    background: $wimt-grayDark;
    justify-content: center;
    align-items: center;

    &.-right  {

      flex-direction: row;
    }
    &.-left {
      flex-direction: row-reverse;
    }

  }

  &.horizontal {
    background: $wimt-black;

    .fp-tableCell {
      flex-direction: column-reverse;

    }

    .m-blocks-details {
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        margin-bottom: $gutter;
        font-size: $normal;
        text-transform: uppercase;
      }



      strong {
        display: inline-block;
        border: solid 2px $white;
        padding: $gutter $gutter-medium;
        font-size: $normal;
      }
      p {
        margin-bottom: $gutter;
      }
      a {
        display: inline!important;
        width: 130px!important;
      }

    }
    .m-blocks-image {
      flex: none;
      height: 50%;
      width: 100%;
      margin: 0;

      img {
        height: 100%;
      }

    }

  }

}

// 1.1. END --------------------------------------------------------------------

// 1.2. END --------------------------------------------------------------------

.m-blocks-details {

  @include set-grid('one-whole', 'one-whole', 'two-fifths', 'two-fifths')

  padding: 0 $gutter-large;

  h4 {
    border: solid 2px $white;
    padding: $gutter $gutter-medium;
    text-transform: uppercase;
    display: inline-block;
    font-size: $normal;
  }

}

// 1.2. END --------------------------------------------------------------------

// 1.3. FOOTER NAVIGATION ------------------------------------------------------

.m-blocks-image {

  @include set-grid('one-whole', 'one-whole', 'three-fifths', 'three-fifths')
  margin: 0;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  canvas {
  }

  img {

    width: 100%;

  }

}

// 1.3. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  // 1.1. FOOTEND --------------------------------------------------------------

  .m-blocks {

    .grid {

      justify-content: center;
      align-items: center;

      &.-right  {

        flex-direction: column!important;
      }
      &.-left {
        flex-direction: column!important;
      }

    }

    &.horizontal {
      background: $wimt-black;
      display: flex;
      flex-direction: column;

      .c-slide {
        display: flex;
        flex-direction: column-reverse;
      }

      .m-blocks-details {
        a {
          margin: 0 auto;
          display: inline-block!important;
          width: auto!important;
        }

      }
      .m-blocks-image {
        flex: none;
        height: 100px;
        width: 100%;
        margin: 0;
        overflow: hidden;

        img {
          height: 100%;
          width: auto!important
        }

      }

    }

  }

  // 1.1. END ------------------------------------------------------------------

  // 1.2. END ------------------------------------------------------------------

  .m-blocks-details {

    padding: $gutter $gutter $gutter-medium $gutter;
    text-align: center;



  }

  // 1.2. END ------------------------------------------------------------------

  // 1.3. FOOTER NAVIGATION ----------------------------------------------------

  .m-blocks-image {
    margin: 0;

    img {

      width: 100%;

    }

  }

  // 1.3. END ------------------------------------------------------------------

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  // 1.1. FOOTEND --------------------------------------------------------------

  .m-blocks {

    .grid {

      justify-content: center;
      align-items: center;

      &.-right  {

        flex-direction: column!important;
      }
      &.-left {
        flex-direction: column!important;
      }

    }

    &.horizontal {
      background: $wimt-black;
      display: flex;
      flex-direction: column-reverse;

      .m-blocks-details {
        a {
          margin: 0 auto;
          display: inline-block!important;
          width: auto!important;
        }

      }
      .m-blocks-image {
        flex: none;
        height: 50%;
        width: 100%;
        margin: 0;
        overflow: hidden;

        img {
          height: 100%;
          width: auto!important
        }

      }

    }

  }

  // 1.1. END ------------------------------------------------------------------

  // 1.2. END ------------------------------------------------------------------

  .m-blocks-details {

    padding: $gutter $gutter $gutter-medium $gutter;
    text-align: center;



  }

  // 1.2. END ------------------------------------------------------------------

  // 1.3. FOOTER NAVIGATION ----------------------------------------------------

  .m-blocks-image {
    margin: 0;

    img {

      width: 100%;

    }

  }

  // 1.3. END ------------------------------------------------------------------


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

  // 1.1. FOOTEND --------------------------------------------------------------

  .footend {

  }

  // 1.1. END ------------------------------------------------------------------


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

  // 5.1. FOOTEND --------------------------------------------------------------

  .footend {



  }

  // 5.1. END ------------------------------------------------------------------


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
