// SITE [5.5: BLOCK GRID] ######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 1.1. CONTACT GROUP ----------------------------------------------------------

.teaser-blog {


  h4 {
    a {
      font-weight: $regular;
      color: $wimt-grayDarker;
      font-size: $large;
    }
  }

  li {
    font-weight: $regular;

    &:first-child {
      font-weight: $bold;
    }
  }

}

// 1.1. END --------------------------------------------------------------------

// 1.3. PRESS RELEASE ----------------------------------------------------------

.m-teaser-news {

  @include set-grid('one-whole','one-whole','one-whole','one-whole');

  display: flex;

  img {
    width: 100%;
  }

  iframe {

    width: 100%;
    max-width: 640px;
    height: 390px;

  }

  h5 {
    font-weight: $regular;
    color: $wimt-grayMid;
  }
  h3,h2 {
    font-weight: $regular;
  }

  .c-teaser-content {

    width: 50%;
    border-bottom: solid 1px $wimt-gray;
    padding: $gutter 0;

    &:first-child {
      padding-right: $gutter-medium;
    }

  }


}

// 1.2. END --------------------------------------------------------------------

// 1.2. PRESS RELEASE ----------------------------------------------------------

.m-teaser-press {

  @include list(row);
  @include set-grid('one-whole','one-whole','one-whole','one-whole');

  border-bottom: solid 1px $wimt-gray;
  padding: $gutter 0;

  li {

    color: $wimt-grayDark;

    a {

      color: $wimt-gray;
      font-size: $small;
      font-weight: $regular;

    }

    span {
      display: block;
      font-weight: $regular;
      color: $wimt-gray;
      &:last-child {
        font-weight: $bold;
        color: $wimt-grayDark;
      }
    }

  }
  li:nth-child(1) {
    flex: none;
    width: 50%;
  }

  li:nth-child(2) {
    flex: none;
    margin-right: $gutter;
    a {
      background: url('../images/icons/icon--text.svg') no-repeat left center;
      background-size: 20px;
      padding: $gutter $gutter $gutter 25px;
    }
  }

  li:nth-child(3) {
    flex: none;
    margin-right: $gutter;
    a {
      background: url('../images/icons/icon--images.svg') no-repeat left center;
      background-size: 20px;
      padding: $gutter $gutter $gutter 25px;
    }
  }

  li:nth-child(4) {
    flex: none;
    a {
      background: url('../images/icons/icon--download.svg') no-repeat left center;
      background-size: 20px;
      padding: $gutter $gutter $gutter 25px;
    }
  }

}

// 1.3. END --------------------------------------------------------------------

// 1.2. CASE STUDIES -----------------------------------------------------------

.m-teaser-case_study {

  a {
    h2 {
      font-weight: $regular!important;
    }
  }

  .c-teaser-header {

    padding: $gutter-medium;

    border-top: solid 2px $wimt-grayLight;
    border-left: solid 2px $wimt-grayLight;
    border-right: solid 2px $wimt-grayLight;

    text-align: center;

    p {
      em {
        color: $wimt-blue;
      }
    }

    h2 {
      margin: 0;
      font-weight: $regular;
      font-size: $large;
      a {
        color: $wimt-grayDarker;
        &:hover {
          color: $wimt-blue;
        }
      }
    }

  }

  .c-teaser-img {

    border-left: solid 2px $wimt-grayLight;
    border-right: solid 2px $wimt-grayLight;
    margin: 0;

  }

  .c-teaser-footer {

    border-left: solid 2px $wimt-grayLight;
    border-right: solid 2px $wimt-grayLight;
    background: $wimt-grayLight;
    padding: $gutter;
    text-align: center;

    h3 {
      margin: 0;
      font-weight: $bold;
      font-size: $normal;
      text-transform: uppercase;
    }

  }

}

// 1.2. END --------------------------------------------------------------------

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  // 1.3. PRESS RELEASE --------------------------------------------------------

  .m-teaser-news {

    flex-direction: column;

    .c-teaser-content {

      width: 100%;

      &:first-child {
        padding: 0;

        border-bottom: none;

        h2 {
          margin: 0;
        }
      }

    }


  }

  // 1.2. END ------------------------------------------------------------------

  // 1.2. PRESS RELEASE --------------------------------------------------------

  .m-teaser-press {

    flex-direction: column!important;

    li {
      margin-bottom: $gutter-small;

    }



  }

  // 1.3. END ------------------------------------------------------------------

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

  // 1.1. FOOTEND --------------------------------------------------------------

  .footend {

  }

  // 1.1. END ------------------------------------------------------------------


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

  // 5.1. FOOTEND --------------------------------------------------------------

  .footend {



  }

  // 5.1. END ------------------------------------------------------------------


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
