// SITE [6.1: HOMEPAGE] ########################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.home {

  .mast {
    z-index: 5;

    overflow-x: hidden;

  }

  // 1.1. PANELS ---------------------------------------------------------------

  .c-linked-award {
    width: 100%;
    .c-carousel {
      .slick-arrow {
        position: absolute;
        z-index: 99999;
      }
    }
  }

  // 1.1. END ------------------------------------------------------------------

  // 1.2. BACKGROUND -----------------------------------------------------------

  .background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: url('../images/site/FullMap.jpg') no-repeat fixed;
    background-size: cover;
  }

  // 1.2. END ------------------------------------------------------------------

  // 1.3. SLIDES ---------------------------------------------------------------

  // 1.3.1. SLIDE - 1

  .slide-one {
    text-align: center;

    background: rgba($white, 0.5);

    h3 {
      margin-bottom: $gutter-large;

      font-size: 2.6em;
    }

    img {
      width: 40%;
      margin: 0 auto $gutter-large auto;
    }

    &:after {
      position: absolute;
      bottom: $gutter-small;
      left: 50%;

      width: 100px;
      height: 100px;

      content: '';
      transform: translate3d(-50%,0,0);
      animation: bouncer 1s infinite;

      background: url('../images/icons/icon--down1.svg') no-repeat;
    }

  }

  // 1.3.1. END

  // 1.3.1. SLIDE - 2

  .slide-horizontal {
    display: flex;

    text-align: center;

    flex-flow: column nowrap;

    h3 {
      margin: $gutter-large 0;

      color: $white;
      span {
        display: inline-block;

        padding: $gutter;

        background: $wimt-blueDark;

        font-weight: $regular;
      }

    }

    p {
      font-size: $medium;
    }

    .fp-slides {
      position: absolute;
      top: 30%;
      right: 0;
      bottom: 0;
      left: 0;

      max-height: 70%!important;

      .fp-slidesContainer {
        max-height: 70%!important;
      }

      .c-slide {

        .fp-tableCell {
          max-height: 70%;
          padding-top: 4%;

          justify-content: flex-start;
        }

        .c-list-img {

          img {
            width: 40%;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
          }

        }

        p {
          color: $white;
        }

        &:nth-child(1) {
          background: $wimt-blueDark;
        }
        &:nth-child(2) {
          background: $wimt-blue;
        }
        &:nth-child(3) {
          background: $wimt-blueLight;
        }

      }
    }


  }

  // 1.3.1. END

  // 1.3.1. SLIDE - 3

  .slide-dark {
    background: rgba($black, 0.5);

    h3 {
      color: $white;

      font-size: $large;
      font-size: 2.6em;
      font-weight: $light;

      strong {
        color: $wimt-yellow;

        font-weight: $light;
      }

      &.sideways {
        strong {
          font-weight: 400!important;
          font-style: italic;
        }
      }

    }

    &:after {
      position: absolute;
      bottom: $gutter-large;
      left: 50%;

      width: 50px;
      height: 50px;

      content: '';
      transform: translate3d(-50%,0,0);
      animation: bouncer 1s infinite;

      background: url('../images/icons/icon--down2.svg') no-repeat;
    }

  }

  // 1.3.1. END

  // 1.3.1. SLIDE - 4

  .slide-gray {
    text-align: center;

    background: rgba($wimt-grayLight, 0.5);

    p {
      color: $wimt-grayDark;

      font-weight: $regular;

      strong {
        color: $wimt-yellow;

        font-weight: $light;
      }

    }

  }

  .slide-light,
  .slide-partners {
    text-align: center;

    background: rgba($white, 1);

    p {
      color: $wimt-grayDark;

      font-weight: $light;

      strong {
        color: $wimt-yellow;

        font-weight: $light;
      }

    }

  }

  // 1.3.1. END

  // 1.3.1. SLIDE - 5

  .slide-case_study {

    .c-linked {
      display: flex;

      width: 100%;
      height: 100%;
      padding: 0;

      justify-content: center;
      align-items: center;

    }

  }

  // 1.3.1. END

  // 1.3.1. END

  .slide-grid {

    .fp-tableCell {
      display: flex;

      flex-flow: row nowrap;


    }

    .m-blocks-image {
      display: flex;

      height: 100%;
      padding: $gutter-large;

      background: $wimt-grayLight;

      flex: auto;
      justify-content: center;
      align-items: center;

      img {
        width: 60%;
        height: 60%;
      }

    }
    .m-blocks-details {
      display: flex;
      flex-direction: column;

      height: 100%;

      background: $wimt-grayDark;

      flex: auto;
      justify-content: center;
      @include theme-light;

      p {
        font-size: $medium;
      }

      strong,b {
        display: inline-block;

        padding: 2px 10px 7px 10px;

        text-align: center;

        color: $wimt-grayDarker;
        border-radius: 100%;
        background: $wimt-yellow;

        align-self: flex-start;
      }

    }

  }

  // 1.3.1. END

  // 1.3.1. END

  .slide-cta {

    .c-cta {
      display: flex;

      width: 100%;
      padding: $gutter-large 0;

      background-size: auto 100%;

      flex: auto;
      flex-flow: column;
      justify-content: center;
      align-items: center;

    }

    .c-linked {
      height: 30%;

      flex: none;

    }

  }

  // 1.3.1. END

  // 1.3.1. END

  .slide-footer {

    .footend{
      display: flex;

      width: 100%;
      padding: $gutter 10%!important;

      background-size: auto 100%;

      flex: auto;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      .grid {
        width: 100%;
      }

    }

    .c-carousel {
      padding-top: 80px;
      padding-bottom: 20px;
    }

    .m-signup {
      display: flex;

      width: 100%;
      height: 15%;
    padding-right: 10%!important;
      padding-left: 10%!important;

      flex: none;
      align-items: center;

      //padding-top: 60px+$gutter-medium!important;
    }

  }

  // 1.3.1. END

  // 1.3. END ------------------------------------------------------------------


}

.page-id-403 {

  .m-layout--black {
    padding-top: $gutter-small;
    padding-bottom: $gutter-small;
  }

}

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  .home {

    .mast {
      position: relative;
      z-index: 600;
    }

    // 1.3. SLIDES -------------------------------------------------------------

    // 1.3.1. SLIDE - 1

    .slide-one {
      padding-top: $gutter-large;

      h3 {
        margin-bottom: $gutter-large;

        font-size: 2em;
        font-weight: $regular;
      }

      img {
        width: 60%;
      }

      &:after {
        display: none;
      }

      strong {
        display: none;
      }

    }

    // 1.3.1. END

    // 1.3.1. SLIDE - 2

    .slide-horizontal {
      flex-flow: column nowrap;

      h3 {
        margin: 0 0;
        margin-right: -$gutter-medium!important;
        margin-left: -$gutter-medium!important;

        color: $white;
        span {
          display: block;
        }

      }

      p {
        color: $white;

        font-size: $medium;
      }

      .c-slide {
        margin-right: -$gutter;
        margin-left: -$gutter;
        padding: $gutter;

        .fp-tableCell {
          justify-content: flex-start;
          //padding-top: 10%;
        }

        .c-list-img {

          img {
            width: 100%;
            height: auto;
          }

        }

        &:nth-child(1) {
          background: $wimt-blueDark;
        }
        &:nth-child(2) {
          background: $wimt-blueDark;
        }
        &:nth-child(3) {
          background: $wimt-blue;
        }
        &:nth-child(4) {
          background: $wimt-blueLight;
        }

      }


    }

    // 1.3.1. END

    // 1.3.1. SLIDE - 3

    .slide-dark {
      padding: $gutter-medium 0;

      h3 {
        font-size: 2em;

      }

      &:after {
        display: none;
      }

    }

    // 1.3.1. END

    // 1.3.1. SLIDE - 4

    .slide-gray {
      text-align: center;

      background: rgba($wimt-grayLight, 0.85);

      p {
        color: $wimt-grayDark;

        font-weight: $bold;

        strong {
          color: $wimt-yellow;

          font-weight: $light;
        }

      }

    }

    .slide-light,
    .slide-partners {
      text-align: center;

      background: rgba($white, 1);

      p {
        color: $wimt-grayDark;

        font-weight: $light;

        strong {
          color: $wimt-yellow;

          font-weight: $light;
        }

      }

    }

    .slide-partners {
      position: relative;

      justify-content: flex-start;

    }

    // 1.3.1. END

    // 1.3.1. SLIDE - 5

    .slide-case_study {

      .c-linked {
        display: flex;

        width: 100%;
        height: 100%;
        padding: 0;

        justify-content: center;
        align-items: center;

      }

    }

    // 1.3.1. END

    // 1.3.1. END

    .slide-grid {
      display: flex;

      flex-flow: column-reverse nowrap;

      .fp-tableCell {
        display: flex;

        flex-flow: column nowrap;


      }

      .m-blocks-image {
        height: auto!important;
        padding: $gutter;

        iframe {
          height: 300px!important;
        }

      }
      .m-blocks-details {
        position: relative;
        z-index: 600;

        height: auto!important;

        justify-content: flex-start;

        p:first-child {
          margin-top: -50px;

        }

      }

    }

    // 1.3.1. END

    // 1.3.1. END

    .slide-cta {

      .c-cta {
        display: flex;

        width: 100%;
        padding: $gutter-large 0;

        background-size: auto 100%;

        flex: auto;
        flex-flow: column;
        justify-content: center;
        align-items: center;

      }

      .c-linked {
        height: 30%;

        flex: none;

      }

    }

    // 1.3.1. END

    // 1.3.1. END

    .slide-footer {

      .footend{
        display: flex;

        width: 100%;
        padding: $gutter 10%!important;

        background-size: auto 100%;

        flex: auto;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .grid {
          width: 100%;
        }

      }

      .c-carousel {
        padding-top: 80px;
        padding-bottom: 20px;
      }

      .m-signup {
        display: flex;

        width: 100%;
        height: 15%;
      padding-right: 10%!important;
        padding-left: 10%!important;

        flex: none;
        align-items: center;

        //padding-top: 60px+$gutter-medium!important;
      }

    }

    // 1.3.1. END

    // 1.3. END ----------------------------------------------------------------


  }


}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  .home {

    .mast {
      position: relative;
      z-index: 600;
    }

    // 1.3. SLIDES -------------------------------------------------------------

    // 1.3.1. SLIDE - 1

    .slide-one {
      padding-top: $gutter-large;

      h3 {
        margin-bottom: $gutter-large;

        font-size: 2em;
        font-weight: $regular;
      }

      img {
        width: 60%;
      }

      &:after {
        display: none;
      }

      strong {
        display: none;
      }

    }

    // 1.3.1. END

    // 1.3.1. SLIDE - 2

    .slide-horizontal {
      flex-flow: column nowrap;

      h3 {
        margin: 0 0;
        margin-right: -$gutter-medium!important;
        margin-left: -$gutter-medium!important;

        color: $white;
        span {
          display: block;
        }

      }

      p {
        color: $white;

        font-size: $medium;
      }

      .c-slide {
        margin-right: -$gutter;
        margin-left: -$gutter;
        padding: $gutter;

        .fp-tableCell {
          justify-content: flex-start;
          //padding-top: 10%;
        }

        .c-list-img {

          img {
            width: 100%;
            height: auto;
          }

        }

        &:nth-child(1) {
          background: $wimt-blueDark;
        }
        &:nth-child(2) {
          background: $wimt-blueDark;
        }
        &:nth-child(3) {
          background: $wimt-blue;
        }
        &:nth-child(4) {
          background: $wimt-blueLight;
        }

      }


    }

    // 1.3.1. END

    // 1.3.1. SLIDE - 3

    .slide-dark {
      padding: $gutter-medium 0;

      h3 {
        font-size: 2em;

      }

      &:after {
        display: none;
      }

    }

    // 1.3.1. END

    // 1.3.1. SLIDE - 4

    .slide-gray {
      text-align: center;

      background: rgba($wimt-grayLight, 0.85);

      p {
        color: $wimt-grayDark;

        font-weight: $bold;

        strong {
          color: $wimt-yellow;

          font-weight: $light;
        }

      }

    }

    .slide-light,
    .slide-partners {
      text-align: center;

      background: rgba($white, 1);

      p {
        color: $wimt-grayDark;

        font-weight: $light;

        strong {
          color: $wimt-yellow;

          font-weight: $light;
        }

      }

    }

    .slide-partners {
      position: relative;

      justify-content: flex-start;

    }

    // 1.3.1. END

    // 1.3.1. SLIDE - 5

    .slide-case_study {

      .c-linked {
        display: flex;

        width: 100%;
        height: 100%;
        padding: 0;

        justify-content: center;
        align-items: center;

      }

    }

    // 1.3.1. END

    // 1.3.1. END

    .slide-grid {
      display: flex;

      flex-flow: column-reverse nowrap;

      .fp-tableCell {
        display: flex;

        flex-flow: column nowrap;


      }

      .m-blocks-image {
        height: auto!important;
        padding: $gutter;

        iframe {
          height: 300px!important;
        }

      }
      .m-blocks-details {
        position: relative;
        z-index: 600;

        height: auto!important;

        justify-content: flex-start;

        p:first-child {
          margin-top: -50px;

        }

      }

    }

    // 1.3.1. END

    // 1.3.1. END

    .slide-cta {

      .c-cta {
        display: flex;

        width: 100%;
        padding: $gutter-large 0;

        background-size: auto 100%;

        flex: auto;
        flex-flow: column;
        justify-content: center;
        align-items: center;

      }

      .c-linked {
        height: 30%;

        flex: none;

      }

    }

    // 1.3.1. END

    // 1.3.1. END

    .slide-footer {

      .footend{
        display: flex;

        width: 100%;
        padding: $gutter 10%!important;

        background-size: auto 100%;

        flex: auto;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .grid {
          width: 100%;
        }

      }

      .c-carousel {
        padding-top: 80px;
        padding-bottom: 20px;
      }

      .m-signup {
        display: flex;

        width: 100%;
        height: 15%;
      padding-right: 10%!important;
        padding-left: 10%!important;

        flex: none;
        align-items: center;

        //padding-top: 60px+$gutter-medium!important;
      }

    }

    // 1.3.1. END

    // 1.3. END ----------------------------------------------------------------


  }

}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

  .slide-one {

    .fp-slides {

      .c-slide {

        .fp-tableCell {
          padding-top: 4%;
        }

      }
    }

  }


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

  .slide-one {

    .fp-slides {

      .c-slide {

        .fp-tableCell {
          padding-top: 7%;
        }

      }
    }

  }


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
