// SITE [6.2: SOLUTIONS] #######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.page-id-332 {
  .c-list.-type-large {

    .grid-item {
      @include set-grid('one-whole', 'one-whole','one-third','one-third')
    }

    .c-list-content {

    }

  }
}

.page-id-382,
.page-id-348,
.page-id-337 {

  header {

  h4 {

    border: solid 2px $white;
    padding: $gutter $gutter-medium;
    font-size: $normal;
    display: inline-block;
  }
}

  .m-blocks {
    @include theme-dark;
    .grid {
    background: $wimt-grayMid!important;
    h4 {
      border: none;
      padding: 0;
    }
  }

}


}


.page-id-348 {

  .c-list.-type-large {

    .c-list-header {

      h3 {
        font-weight: $light;
      }

      p {
        font-weight: $bold;
        //text-transform: uppercase;
      }

    }

    h4 {
      font-size: $medium;
      font-weight: $light;
    }

  }

  .m-blocks-details {
    h4 {
      font-weight: $light;
      font-weight: $x-large!important;
      text-transform: capitalize;
    }
  }

}
.page-id-382 {

  .m-layout--animated {

    h3 {
      text-align: center;
      margin-bottom: $gutter-large;

    }


  }

  .c-list.-type-large {

    .c-list-header {

      h3 {
        font-weight: $light;
        margin-bottom: 60px;
      }

      p {
        font-weight: $bold;
        //text-transform: uppercase;
      }

    }

    h4 {
      font-size: $medium;
      font-weight: $light;
    }

  }

  .m-blocks-details {

    h4 {
      font-weight: $light;
      font-weight: $x-large!important;
      text-transform: capitalize;
    }
  }

}

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

  .page-id-332 {
    .c-list.-type-large {

      .c-list-content {
        background: $wimt-grayMid;
        padding: $gutter;
      }

    }
  }


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
