// SITE [6.2: SOLUTIONS] #######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.blog-nav {
  background: $wimt-grayLight!important;
}

.single-post {

  .-commentbtn {
    background: $wimt-grayMid!important;
    display: block;
    margin: $gutter 0;
    width: 100%;
    padding: $gutter;
    text-align: center;
    color: $wimt-grayDark;
    font-weight: $light;
    font-size: $large;
  }

  .-commentary {
    display: none;
    &.is-open {
      display: block;
    }

  }

}

.blog-intro {

  p {

    line-height: 30px!important;
    font-size: $medium;

  }

  .blog-intro-content {

    position: absolute;
    transform: translateX(-100%);
    opacity: 0;

    @include animate-basic;

    &.-open {
      position: relative;
      transform: translateX(0);
      opacity: 1;
      @include animate-basic;
    }

  }

  p {

    line-height: 22px!important;
    font-size: $normal;

  }

  h4 {
    text-transform: capitalize;
  }

  ul {
    @include list;
    margin-bottom: $gutter;
  }

  li {
    background: $wimt-grayLight;
    padding: $gutter!important;
    display: flex!important;
    flex-direction: row!important;
    align-items: center;
  }

  img {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    flex: none;
    margin-right: $gutter;
  }
  .contents {

  }

}

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
