// SITE [6.2: SOLUTIONS] #######################################################

// == INDEX ====================================================================
// ==
// == 1. GENERAL STYLING
// == 2. MOBILE STYLING
// == 3. TABLET STYLING
// == 4. DESKTOP STYLING
// == 5. WIDE DESKTOP STYLING
// ==
// == END ======================================================================

// 1. GENERAL STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

#p-282 {

  // 1.1. BELIEFS --------------------------------------------------------------

  .m-layout--blue {

    background: $wimt-blue;

    .c-list-img {

      img {
        width: 60%;
        height: auto!important;
        margin: 0 auto;
      }

    }



    ul {

      flex-direction: column;
    }

    li {

      display: flex;
      margin-bottom: $gutter-medium;
      align-items: center;
      @include set-grid('one-whole','one-whole','one-whole','one-whole');

      &:nth-child(odd) {
        flex-flow: row-reverse nowrap;

      }
      &:nth-child(even) {
        .c-list-content {

          text-align: right;

        }

      }

      .c-list-img {
        margin: 0;

        flex: none;
        width: 50%;


      }
      .c-list-content {

        flex: none;
        width: 50%;

        h4 {
          @include set-type($bitter, 400, italic);
        }

        p {

          color: $white;
          font-weight: $thin;
          font-size: $large;
          line-height: 30px!important;
          &.lead {

            color: $wimt-grayDarker;
            font-weight: $thin;
            font-size: $normal;

          }

        }

      }

    }

  }

  // 1.1. END ------------------------------------------------------------------

  // 1.2. TEXT -----------------------------------------------------------------

  .section-text {

    background: $wimt-grayDarker;
    text-align: center;
    p {color: $white;}

  }

  // 1.2. END ------------------------------------------------------------------

}

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. MOBILE STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

  #p-282 {

    // 1.1. BELIEFS ------------------------------------------------------------

    .m-layout--blue {

      .c-list-img {

        img {
          width: 60%;
          height: auto!important;
          margin: 0 auto;
        }

      }

      li {

        display: flex;
        flex-direction: column;
        margin-bottom: $gutter-medium;
        align-items: center;
        @include set-grid('one-whole','one-whole','one-whole','one-whole');

        &:nth-child(odd) {
          flex-flow: column nowrap;
          text-align: center;

        }
        &:nth-child(even) {
          .c-list-content {

            text-align: center;

          }

        }

        .c-list-img {
          margin: 0;

          flex: none;
          width: 100%;


        }
        .c-list-content {

          flex: none;
          width: 100%;

          h4 {
            @include set-type($bitter, 400, italic);
          }

          p {

            color: $white;
            font-weight: $thin;
            font-size: $large;
            line-height: 30px!important;
            &.lead {

              color: $wimt-grayDarker;
              font-weight: $thin;
              font-size: $normal;

            }

          }

        }

      }

    }

    // 1.1. END ----------------------------------------------------------------

  }

}

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TABLET STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. DESKTOP STYLING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. WIDE DESKTOP STYLING +++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {


}

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
