// MIXINS [FLEXIGRID SIZING] ###################################################

@mixin flexigrid-size($map, $namespace:"") {

  @each $name, $size in $map {

    .#{$namespace}#{$name} {

      flex: none;
      width: #{$size};

    }

  }

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
