// MIXINS [LISTS] ##############################################################

@mixin list($orientation:"column", $justify:"flex-start", $align:"flex-start"){

  display: flex;
  flex-flow: #{$orientation} wrap;
  justify-content: #{$justify};
  align-items: #{$align};

  margin: 0;
  padding: 0;

  li {

    flex: auto;
    display: block;
    padding: 0;
    list-style: none;

  }

  @if $orientation == 'column' {

    li {

      width: 100%;

    }

  }

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
