// MIXINS [SET TYPE] ###########################################################

@mixin set-type($font-family, $font-weight, $font-style){

  font-family: $font-family;
  font-weight: $font-weight;
  font-style: $font-style;

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
