// MIXINS [FORM HELPERS] #######################################################

@mixin form-validation($color) {

  label {

    color: $color;

  }

  input, textarea {

    border-color: $color;
    color: $color;

    &:focus {

      border-color: $color;
      box-shadow: 0 0 10px $color;

    }

  }

  small {

    color: $color;

  }

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
