// MIXINS [BLOCKS] #############################################################

@mixin block($color){

  h3 {

    color: darken($color, 10%);

  }

  .block-header {

    background: rgba($color, 0.5);

  }

  .block-content {

    border-color: rgba($color, 0.5);

  }

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
