// MIXINS [BUTTONS] ############################################################

@mixin button($map, $type:flat) {

  display: block;
  width: 100%;
  padding: $gutter-small $gutter;
  border: none;
  cursor: pointer;
  @include animate-basic;

  // 1. FLAT & PILL BUTTONS ----------------------------------------------------

  @if $type == 'flat' or $type == 'pill' {

    @each $name, $colors in $map {

      &.-#{$name} {

        background: nth($colors, 1);
        color: nth($colors, 2);

        &:hover {

          background: nth($colors, 3);
          color: nth($colors, 4);

        }

      }

    }

  }

  // 1. END --------------------------------------------------------------------

  // 2. PILL BUTTON ------------------------------------------------------------

  @if $type == 'pill' {

    border-radius: 20px;

  }

  // 2. END --------------------------------------------------------------------

  // 3. LINE BUTTON ------------------------------------------------------------

  @if $type == 'line' {

    @each $name, $colors in $map {

      &.-#{$name} {

        background: transparent;
        color: nth($colors, 1);
        border: solid 2px nth($colors, 1);

        &:hover {

          background: transparent;
          color: nth($colors, 3);
          border-color: nth($colors, 3);

        }

      }

    }

  }

  // 3. END --------------------------------------------------------------------

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
