// MIXINS [VERTICAL ALIGN] #####################################################

@mixin vertical-align(){

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
