// MIXINS [MEDIA QUERIES] ######################################################

@mixin media-query($media-query){

  $breakpoint-found: false;

  @each $breakpoint in $breakpoints{
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration{
      $breakpoint-found: true;

      @media only screen and #{$declaration}{
        @content;
      }
    }
  }

  @if $breakpoint-found == false{
    body:after {

      content: "No Media Query Found.";
      background: $red;

    }
  }
}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
