// MIXINS [CLEARFIX] ###########################################################

@mixin clearfix() {

  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }

}

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
