// KONSTRUCT.SCSS [CONFIGURATION] ##############################################

//  == INDEX  ==================================================================
//  ==
//  == 1. COMPONENTS
//  == 2. BREAKPOINTS
//  == 3. TYPOGRAPHY
//  == 4. GUTTERS
//  == 5. SYSTEM COLORS
//  == 6. MAPS
//  == END =====================================================================

// 1. COMPONENTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$component--helpers:          true;
$component--containers:       true;
$component--flexigrid:        true;
$component--typography:       true;
$component--forms:            true;
$component--buttons:          true;
$component--messages:         true;
$component--highlighting:     false;
$component--breadcrumbs:      true;
$component--modals:           true;
$component--media:            true;
$component--tabs:             true;
$component--nav:              true;
$component--select:           true;
$component--blocks:           true;
$component--data-list:        true;
$component--flags:            true; 

// 1. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 2. BREAKPOINTS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$breakpoint-types: ('mobile', 'tablet', 'desk', 'desk-wide')!default;

$breakpoints: (
  'mobile' '(max-width: 480px)',
  'tablet' '(min-width: 481px) and (max-width: 1023px)',
  'desk' '(min-width: 1024px)',
  'desk-wide' '(min-width: 1200px)'
)!default;

// 2. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3. TYPOGRAPHY +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 3.1. FONT STACKS ------------------------------------------------------------

$helvetica:     "Helvetica Neue", Helvetica, Arial, sans-serif;
$arial:         Arial, Helvetica, sans-serif;
$monospace:     "Bitstream Vera Sans Mono", Consolas, Courier, monospace;

// 3.1. END --------------------------------------------------------------------

// 3.2. FONT SETUP -------------------------------------------------------------

$base-font:     $arial;
$base-size:     16px;
$x-large:       2em;      //32px
$large:         1.5em;    //24px
$medium:        1.125em;  //18px
$normal:        1em;      //16px
$small:         0.75em;   //12px
$x-small:       0.625em;  //10px

// 3.2. END --------------------------------------------------------------------

// 3.3. FONT WEIGHTS -----------------------------------------------------------

$thin:          100;
$light:         300;
$regular:       400;
$semiBold:      600;
$bold:          700;
$heavy:         900;

// 3.3. END --------------------------------------------------------------------

// 3. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 4. GUTTERS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$gutter:        20px;
$gutter-small:  $gutter/2;        //10px
$gutter-medium: $gutter*2;        //40px
$gutter-large:  $gutter-medium*2; //80px

// 4. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5. SYSTEM COLORS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 5.1. GRAYS ------------------------------------------------------------------

$black:         #000000;
$grayDarkest:   #222324;
$grayDarker:    #333333;
$grayDark:      #69707a;
$gray:          #aeb1b5;
$grayLight:     #d3d6db;
$grayLighter:   #f5f7fa;

$white:         #ffffff;

// 5.1. END --------------------------------------------------------------------

// 5.2. COLORS -----------------------------------------------------------------

$blue:          #42afe3;
$green:         #97cd76;
$orange:        #f68b39;
$purple:        #847bb9;
$red:           #ed6c63;
$turquoise:     #1fc8db;
$yellow:        #fce473;

// 5.2. END --------------------------------------------------------------------

// 5. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 6. MAPS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// 6.1. BUTTONS ----------------------------------------------------------------

$button-map: (
  blue: ( $blue, $white, darken($blue, 15%), $white ),
  green: ( $green, $white, darken($green, 15%), $white ),
  yellow: ( $yellow, $white, darken($yellow, 15%), $white ),
  orange: ( $orange, $white,darken($orange, 15%), $white ),
  red: ( $red, $white, darken($red, 15%), $white ),
  black: ( $grayDark, $white, darken($grayDark, 15%), $white ),
  white: ( $white, $gray, darken($white, 15%), $gray )
);

// 6.1. END --------------------------------------------------------------------

// 6.2. GRID SIZES -------------------------------------------------------------

$grid-sizes: (
  one-whole: ( '100%' ),
  one-half: ( '50%' ),
  one-third: ( '33.333%' ),
  two-thirds: ( '66.666%' ),
  one-quarter: ( '25%' ),
  two-quarters: ( '50%' ),
  three-quarters: ( '75%' ),
  one-fifth: ( '20%' ),
  two-fifths: ( '40%' ),
  three-fifths: ( '60%' ),
  four-fifths: ( '80%' ),
  one-sixth: ( '16.666%' ),
  two-sixths: ( '33.333%' ),
  three-sixths: ( '50%' ),
  four-sixths: ( '66.666%' ),
  five-sixths: ( '83.333%' ),
  one-eighth: ( '12.5%' ),
  two-eighths: ( '25%' ),
  three-eighths: ( '37.5%' ),
  four-eighths: ( '50%' ),
  five-eighths: ( '62.5%' ),
  six-eighths: ( '75%' ),
  seven-eighths: ( '87.5%' ),
  one-tenth: ( '10%' ),
  two-tenths: ( '20%' ),
  three-tenths: ( '30%' ),
  four-tenths: ( '40%' ),
  five-tenths: ( '50%' ),
  six-tenths: ( '60%' ),
  seven-tenths: ( '70%' ),
  eight-tenths: ( '80%' ),
  nine-tenths: ( '90%' ),
  one-twelfth: ( '8.333%' ),
  two-twelfths: ( '16.666%' ),
  three-twelfths: ( '25%' ),
  four-twelfths: ( '33.333%' ),
  five-twelfths: ( '41.666%' ),
  six-twelfths: ( '50%' ),
  seven-twelfths: ( '58.333%' ),
  eight-twelfths: ( '66.666%' ),
  nine-twelfths: ( '75%' ),
  ten-twelfths: ( '83.333%' ),
  eleven-twelfths: ( '91.666%' )
);

// 6.2. END --------------------------------------------------------------------

// 6. END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUND A BUG?:
// If you found a bug or something is broken, please do me a favour and log it
//   over at: https://github.com/konstruct/konstruct.scss/issues

// END OF FILE #################################################################
